.assets {
    display: flex;

    .card-list {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 30%;
        margin-right: $card-list-gap;
        height: 8rem;
    }

    .card-title {
        font-size: 1.3rem;
        overflow-wrap: break-word;
    }

    .card-description {
        font-size: 1rem;
        height: initial;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .card-image > img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    a {
        text-decoration: none;
    }

    .book-content {
        h3 {
            font-size: 1.9rem;
            font-weight: 700;
            text-decoration: none;
        }
    }
}