.assets {
    display: flex;

    .card-list {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
        margin-right: $card-list-gap;
        height: initial;
    }

    .card-title {
        font-size: 1.3rem
    }

    .card-description {
        font-size: 1rem;
        min-height: 4rem;
        height: initial;
    }

    .card-image > img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    a {
        text-decoration: none;
    }

    .book-content {
        h3 {
            font-size: 2.2rem;
            font-weight: 700;
            text-decoration: none;
        }
    }
}