.awesome {

    .card-list {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
        margin-right: $card-list-gap;
        height: initial;
    }

    .card-title {
        font-size: 1.3rem
    }

    .card-description {
        font-size: 1rem
    }

    .card-image > img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .card-description > a {
        text-decoration: none;
        color: $link-color;
    }
    
    .card-description > a:hover {
        text-shadow: 0 0 0.9px $link-hover-shadow-color, 0 0 0.9px $link-hover-shadow-color;
    }

}