@import "_variables";

html {
    overflow-y: scroll;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    color: $default-color;
    font-family: 'Fira Sans', sans-serif;
    background-color: #232326;
}
@media screen and (max-width: $width-medium) {
    html, body {
        font-size: 0.7rem;
    }
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a:focus {
    outline: none;
}

.section {
    display: block;
    font-size: 1.4rem;
    overflow-x: hidden;
}

.padded-content {
    padding: $default-padding;
}

.warning {
    color: #c8c864;
}

.anchor-link, .anchor-link:focus, .anchor-link:hover, .anchor-link:active, .anchor-link:hover, .anchor-link:link, .anchor-link:visited {
    margin-left: 0.3rem;
    color: #505050;
    text-shadow: none;
    font-weight: 500;
}