$card-list-gap: 15px;
$card-hover-background: #2f3033;

.card {
    display: block;
    flex-direction: left;
    overflow: hidden;
    height: 10rem;
    border-radius: $border-radius;
    background-color: $syntax-theme-background;
    margin-bottom: $card-list-gap;
    font-style: normal;
    text-decoration: none;
}

.card:hover {
    background-color: $card-hover-background;
}

.card-image {
    width: 30%;
    overflow: hidden;
    object-fit: cover;
    background-color: $default-image-background-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    float: left;
    height: 100%;
    margin-right: 0px;
}

.centered-card-image {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-subtitle {
    display: block;
    font-weight: 200;
    font-size: 1.1rem;
    font-style: italic;
    color: $default-color;
    text-decoration: none;
}

.card-description {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.3rem;
    color: $default-color;
    text-decoration: none;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}

.card-title {
    display: block;
    font-weight: 500;
    font-size: 2.0rem;
    color: $default-color;
    font-style: normal;
    text-decoration: none;
}

.card-image-default {
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.media-content {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 25px;
    color: rgb(210, 210, 210);
    font-style: normal;
    text-decoration: none;
    ul, li {
        margin-top: 10px;
    }

    pre {
        padding: 10px;
        font-size: 1.1rem;
        border-radius: $border-radius;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    a code, a:active code, a:visited code, a:link code {
        color: rgb(228, 193, 81);
        font-style: normal;
        text-decoration: none;
    }

    a:hover code {
        background-color: $syntax-theme-background-hover;
    }

    a {
        text-decoration: none;
        color: $hover-color;
    }

    a:hover {
        text-shadow: 0 0 0.9px $hover-shadow-color, 0 0 0.9px $hover-shadow-color;
    }
    
    code {
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 1.05rem;
        color: rgb(200, 200, 200);
        background-color: $syntax-theme-background;
        border-radius: $border-radius;
        text-decoration: none;
    }
}