.features {
    margin-top: 4rem;
    width: 100%;
}

$features-border-width: 1px;
$features-border-radius: 10px;
$features-border-color: #aaaaaa;

.feature {
    display: block;
    width: calc(100% - #{2*$features-border-radius + $features-border-width});
    margin-left: auto;
    margin-right: auto;
    height: 15rem;
    border-color: $features-border-color;
    border-width: $features-border-width;
    border-style: solid;
    border-radius: $features-border-radius;
    margin-bottom: -$features-border-width;
    overflow: hidden;
}

.feature-left {
    border-right-style: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 2*$features-border-radius;
}

.feature-right {
    border-left-style: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 2*$features-border-radius;
}

.feature-image {
    height: 100%;
    // width: calc(50% + #{9px});
    width: 25rem;
    border-color: $features-border-color;
    border-width: $features-border-width;
}

.feature-image-left {
    border-right-style: solid;
    float: left;
}

.feature-image-right {
    border-left-style: solid;
    float: right;
}

.feature-text {
    padding: 2rem;
    width: 50%;
}

.feature-text-left {
    float: right;

}

.feature-text-right {
    float: left;
}

.feature-title {
    font-size: 2rem;
    font-weight: 800;
}

.feature-description {
    margin-top: 0.8rem;
    font-size: 1.2rem;
}

.features-get-started {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1.4rem !important;
}

