.bevy-logo-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 8rem;
}

.bevy-description {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.feature-container {
    margin-top: 1.5rem;
    min-width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.feature {
    display: flex;
    justify-content: center;
    height: 18rem;
    margin-bottom: 1.5rem;
}

.feature-title {
    margin-top: 1.0rem;
    margin-bottom: 0.3rem;
}

.feature-description {
    font-size: 1.3rem;
}

.feature-image {
    background-color: #2b2c2f;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-image, .feature-text {
    height: 18rem;
    min-width: 28rem;
    max-width: 28rem;
    margin-bottom: 1rem;
}

.feature-left {
    margin-right: 1.2rem;
}

.feature-sublist {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    padding-left: 2rem;
    font-size: 1.2rem;
}

.feature-img {
    max-height: 80%;
    max-width: 80%;
}

.features-whats-next {
    text-align: center;
    font-size: 1.5rem !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}