.bevy-logo-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 35rem;
}

.bevy-description {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.feature-list {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-container-reverse {
    flex-wrap: wrap-reverse;
}

.feature-title {
    margin-top: 1.0rem;
    margin-bottom: 0.3rem;
}

.feature-description {
    font-size: 1.3rem;
}

.feature-image {
    height: 20rem;
    background-color: #2b2c2f;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-clip: padding-box;
}

.feature-text {
    max-height: 18rem;
    align-self: center;
}

.feature-image, .feature-text {
    min-width: 30rem;
    max-width: 30rem;
    border-width: 1.8rem;
    border-style: solid;
    border-color: transparent;
}

.feature-sublist {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    padding-left: 2rem;
    font-size: 1.22rem;
}

.feature-img {
    max-height: 80%;
    max-width: 80%;
}

.features-whats-next {
    text-align: center;
    font-size: 1.5rem !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.features-sponsors {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2.2rem !important;
    margin-bottom: 8rem;
}

.sponsors-section {
    display: flex;
    width: 100%;
    justify-content: center;
}

.bronze-sponsor-image {
    height: 3.8rem;
    margin: 1rem;
}

.silver-sponsor-image {
    height: 5.4rem;
    margin: 1rem;
}

.platinum-sponsor-image {
    height: 7.0rem;
    margin: 1rem;
}