.bevy-logo-header {
    display: block;
    margin: 2em auto;
    width: 100%;
    max-width: 35rem;
}

.bevy-description {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.feature-list {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 0.5em auto;

    &:nth-child(odd) .feature-image {
        order: 2;
    }
}

.feature-container-reverse {
    flex-wrap: wrap-reverse;
}

.feature-title {
    margin: 0.5em 0;
}

.feature-description {
    font-weight: 300;
}

.feature-description strong {
    font-weight: 500;
}

.feature-image {
    height: 20rem;
    background-color: #2b2c2f;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-clip: padding-box;
}

.feature-text {
    max-height: 18rem;
}

.feature-image, .feature-text {
    min-width: 30rem;
    max-width: 30rem;
    border-width: 1.8rem;
    border-style: solid;
    border-color: transparent;
}

.feature-sublist {
    margin: 1rem 0;
    padding-left: 2rem;
    font-size: 1.2rem;
}

.feature-img {
    max-height: 80%;
    max-width: 80%;
}

.features-whats-next {
    text-align: center;
    font-size: 1.5rem !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}