.hidden {
  display: none !important;
}

// Visual outline on focused elements, for accessibility
*:focus-visible {
  border-radius: 5px;
  outline: $focus-outline;
}

.section {
  display: block;
  font-size: 1.4rem;
  overflow-x: hidden;
}

.padded-content {
  padding: 16px 0;

  @media #{$bp-tablet-landscape-up} {
    padding: 24px 0;
  }
}

.warning {
  color: #c8c864;
}

body:not(.show_drafts) .public_draft:not(.active_draft) {
  display: none !important;
}

.public_draft>div>a {
  color: #c8c864 !important;
}

.draft-header {
  margin-bottom: 0.5rem;
}

.anchor-link,
.anchor-link:focus,
.anchor-link:hover,
.anchor-link:active,
.anchor-link:link,
.anchor-link:visited {
  margin-left: 0.3rem;
  color: #737373;
  text-shadow: none;
  font-weight: 500;
  opacity: 0;
  transition: opacity $duration;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover .anchor-link {
    opacity: 1;
  }
}

.public_draft>div>a {
  color: #c8c864 !important;
}

.draft-header {
  margin-bottom: 0.5rem;
}
