// Typography
$size-body: 16px; // Usual browser default size
$size-body-mobile: 14px; // Size for mobile

// Breakpoints
$bp-phone-landscape: 480px; // Mobile-landscape (and larger)
$bp-tablet-portrait: 768px; // Tablet-portrait (and larger)
$bp-tablet-landscape: 992px; // Tablet-landscape (and larger)
$bp-desktop: 1200px; // Laptops (and langer)

$bp-phone-portrait-only: "(max-width: #{$bp-phone-landscape - 1})";
$bp-phone-landscape-up: "(min-width: #{$bp-phone-landscape})";
$bp-phone-landscape-down: "(max-width: #{$bp-tablet-portrait - 1})";
$bp-tablet-portrait-up: "(min-width: #{$bp-tablet-portrait})";
$bp-tablet-portrait-down: "(max-width: #{$bp-tablet-landscape - 1})";
$bp-tablet-landscape-up: "(min-width: #{$bp-tablet-landscape})";
$bp-tablet-landscape-down: "(max-width: #{$bp-desktop - 1})";
$bp-desktop-up: "(min-width: #{$bp-desktop})";

// Animation
$duration-fast: 100ms;
$duration: 250ms;

// Z-Index
$z-layout-header: 800;
$z-main-menu-backdrop: 900;
$z-main-menu: 1000;

// General
$max-width: 1200px;
$mobile-menu-width: 300px;
$content-top-margin: 30px;
$border-radius: 16px;

// CSS Vars
:root {
  // Typography
  --font-family-sans: "Fira Sans", sans-serif;
  --font-family-mono: "Fira Mono", monospace;

  // Header
  --header-height: 60px;
  --scroll-padding-top: calc(var(--header-height) + 16px);

  @media #{$bp-desktop-up} {
    --header-height: 72px;
  }


  @media (prefers-color-scheme: dark) {
    // dark theme -- original and default
    --color-black: #000;
    --color-blue: #4a6e91;
    --color-blue-lighter: #537ca3;
    --color-baby-blue: #b1d9ff;
    --color-white: #ececec;
    --color-white-darker-60: #5e5e5e;
    --color-white-darker-40: #8d8d8d;
    --color-white-darker-20: #bcbcbc;
    --color-grey-800: #232326;
    // header color,
    --color-grey-900: #1e1e22;
    --color-pink: #9f517a;
    --color-pink-lighter: #b35b89;
    --color-pink-barely-lighter: #a3537d;
    --color-gold: #d2be4a;
    --headerbar-color: #1e1e22;
    --hover-color: #ececec;
    --hover-shadow-color: #d6d6d6;
    --link-color: #7c90ff;
    --link-hover-shadow-color: #6c82ff;
    --default-color: #ececec;
    --subtitle-color: #999;
    --syntax-theme-background: #2b2c2f;
    --alt-syntax-theme-background: #2b2c2f;
    --syntax-theme-background-hover: #414247;
    --default-image-background-color: #1b1b1b;
    --card-hover-background: #2f3033;
    --donate-please: #d2d2d2;
    --callout-accent-color-info: #5944e0;
    --callout-bg-color-info: #2f2745;
    --callout-color-info: #f0effb;
    --callout-accent-color-caution: #e82f5a;
    --callout-bg-color-caution: #591626;
    --callout-color-caution: #eed5db;
    --callout-accent-color-warning: #e4c151;
    --callout-bg-color-warning: #513903;
    --callout-color-warning: #fdfdec;
    --code: #c8c8c8;  

    .inverted { }

    .inverted-hue120 { }
    
    .inverted-hue240 { }
  }


  @media (prefers-color-scheme: light) {
    // 'color-black' and other names are usually inverted compared to white theme
    --color-black: #fff;
    --color-blue: hsl(210, 32%, 67%);
    --color-blue-lighter: hsl(209, 33%, 52%);
    --color-baby-blue: hsl(209, 100%, 35%);
    --color-white: #030303;
    --color-white-darker-60: #a1a1a1;
    --color-white-darker-40: #727272;
    --color-white-darker-20: #434343;
    --color-grey-800: #f4f4f8;
    --color-grey-900: #efeff4;

    --color-pink: hsl(328, 33%, 77%);
    --color-pink-lighter: hsl(329, 37%, 67%);
    --color-pink-barely-lighter: hsl(329, 33%, 73%);
    --color-gold: hsl(51, 60%, 56%);

    --headerbar-color: #1e1e22;
    --hover-color: #090909;
    --hover-shadow-color: #292929;
    --link-color: hsl(211, 100%, 36%);
    --link-hover-shadow-color: hsla(231, 100%, 71%, 25%);
    --default-color: #090909;
    --subtitle-color: #666;
    //--default-image-background-color: #e4e4e4;
    --default-image-background-color: #2c2c2c; // originall 1b1b1b 
    --card-hover-background: #cccfd0;
    --supporting-text: #2d2d2d;

    --callout-accent-color-info: hsl(248, 72%, 43%);
    --callout-bg-color-info: hsl(256, 28%, 79%);
    --callout-color-info: hsl(245, 60%, 04%);
    --callout-accent-color-caution: hsl(346, 80%, 45%);
    --callout-bg-color-caution: hsl(346, 60%, 78%);
    --callout-color-caution: hsl(346, 42%, 12%);
    --callout-accent-color-warning: hsl(46, 73%, 39%);
    --callout-bg-color-warning: hsl(42, 93%, 84%);
    --callout-color-warning: hsl(60, 81%, 04%);

    // syntax theme note:
    // `_syntax-theme.scss` contains the text syntax highlighting colors.
    // Until those colors are adapted to respond to `prefers-color-scheme`, we
    // keep the dark code backgrounds abd code text
    --syntax-theme-background: #2b2c2f;
    --syntax-theme-background-hover: #414247;
    --code: #c8c8c8;  
    //--syntax-theme-background: #d3d0d4;
    //--syntax-theme-background-hover: #bdb8be;
    //--code: #383838;
    --alt-syntax-theme-background: #d0d3d4;

   .inverted {
      filter: invert(100%) hue-rotate(180deg);
    }

    .inverted-hue120 {
      filter: invert(100%) hue-rotate(1200deg);
    }

    .inverted-hue240 {
      filter: invert(100%) hue-rotate(240deg);
    }
  }

 
}

// Accessibility
$focus-outline: solid #b1d9ff 3px;
