@charset "utf-8";


$headerbar-color: #1e1e22;
$hover-color: #ececec;
$hover-shadow-color: #d6d6d6;
$link-color: #6c82ff;
$link-hover-shadow-color: #6c82ff;
$default-color: #ececec;
$content-top-margin: 30px;
$default-padding: 15px;
$syntax-theme-background: #2b2c2f;
$syntax-theme-background-hover: #414247;
$default-image-background-color: #1b1b1b;
$media-max-width: 680px;
$border-radius: 10px;

@import "headerbar";
@import "community";
@import "book";
@import "book-nav";
@import "news";
@import "content";
@import "base";