@charset "utf-8";

// Core
@import 'vars';
@import 'mixins';

// Fonts
@import 'fonts/firamono';
@import 'fonts/firasans';

// Elements
// - HTML element tweaks: html, body, ul, li…
@import 'elements/html';

// CSS utility classes
@import 'utils';

// Components
// - Repeating visual patterns: buttons, cards, menus…
// - Components can be composed between them to create new components
// - These should be self contained and shouldn't affect other styling
@import "components/book-footer";
@import "components/book-nav";
@import "components/card";
@import "components/example";
@import "components/headerbar";
@import "components/icon";
@import "components/sponsors";
@import "components/item-grid";
@import "components/syntax-theme";
@import "components/tree-menu";

// Pages
// - Page specific CSS
@import "pages/community";
@import "pages/assets";
@import "pages/book";
@import "pages/news";
@import "pages/features";
@import "pages/content";
