@charset "utf-8";

// Core
@import 'functions';
@import 'vars';
@import 'mixins';

// Fonts
@import 'fonts/firamono';
@import 'fonts/firasans';

// Elements
// - HTML element tweaks: html, body, a, ul, li…
@import 'elements/html';
@import 'elements/body';

// CSS utility classes
@import 'utils';

// Components
// - Repeating visual patterns: buttons, cards, menus…
// - Components can be composed between them to create new components
// - These should be self contained and shouldn't affect other styling
@import 'components/book-nav';
@import 'components/button-square';
@import 'components/button';
@import 'components/card';
@import 'components/container';
@import 'components/header';
@import 'components/layout';
@import 'components/logo';
@import 'components/main-menu-backdrop';
@import 'components/main-menu';
@import 'components/menu-switch';
@import 'components/syntax-theme';

// Pages
// - Page specific CSS
@import "pages/community";
@import "pages/assets";
@import "pages/book";
@import "pages/news";
@import "pages/features";
@import "pages/content";
