root = true

# Used to enforce Sass styles in CI
[*.scss]
indent_style = space
indent_size = 2
insert_final_newline = true
quote_type = double

[*.html]
indent_style = space
indent_size = 2
insert_final_newline = true
