@font-face { 
  font-family: "Fira Sans";
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  src: local("Firava"),
  url("/assets/fonts/firava-sans.woff2") format("woff2 supports variations"),
  url("/assets/fonts/firava-sans.woff2") format("woff2-variations"),
  url("/assets/fonts/firava-sans.ttf") format("truetype-variation");
}

@font-face { 
  font-family: "Fira Sans";
  font-display: swap;
  font-weight: 100 900;
  font-style: italic;
  src: local("Firava Italic"),
  url("/assets/fonts/firava-sans-italic.woff2") format("woff2 supports variations"),
  url("/assets/fonts/firava-sans-italic.woff2") format("woff2-variations"),
  url("/assets/fonts/firava-sans-italic.ttf") format("truetype-variation");
}
