{% import "macros/header.html" as header_macros %}
{% import "macros/public_draft.html" as public_draft %}
{% import "macros/base.html" as base_macros %}

{# Shortcut to get the section/page. This variable will have a value except in some special pages like `404.html`. #}
{% set_global section_or_page = false %}
{% if section or page %}
  {% set_global section_or_page = section | default(value=page) %}
{% endif %}

{% if section_or_page %}
  {# Possible docs root section paths. A temporary workaround. TODO: issue #1181(https://github.com/bevyengine/bevy-website/issues/1181) find a better solution #}
  {% set_global root_section_paths = ["learn/quick-start", "learn/book", "learn/migration-guides", "learn/advanced-examples", "learn/errors", "learn/contribute"] %}
  {% for root_section_path in root_section_paths %}
    {% set components = root_section_path | split(pat="/") %}
    {% if section_or_page.components | slice(end=components | length) == components %}
      {% set_global root_section = get_section(path=root_section_path ~ "/_index.md") %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set current_path = current_path | default(value="/") %}

{% if section and section.title %}
  {% if section.path is starting_with("/learn/book/") %}
    {% set page_title = "Bevy Book: " ~ section.title %}
  {% elif section.path is starting_with("/learn/errors/") %}
    {% set page_title = "Bevy Errors: " ~ section.title %}
  {% elif section.path is starting_with("/assets") %}
    {% set page_title = "Bevy Assets" %}
  {% else %}
    {% set page_title = section.title %}
  {% endif %}
{% elif page and page.title %}
  {% if page.path is starting_with("/learn/book/") %}
    {% set page_title = "Bevy Book: " ~ page.title %}
  {% elif page.path is starting_with("/learn/errors/") %}
    {% set page_title = "Bevy Errors: " ~ page.title %}
  {% elif page.path is starting_with("/assets") %}
    {% set page_title = "Bevy Assets" %}
  {% else %}
    {% set page_title = page.title %}
  {% endif %}
{% else %}
  {% set page_title = "Bevy Engine" %}
{% endif %}

{% if section and section.path %}
  {% set path = "/" ~ section.path %}
{% elif page and page.path %}
  {% set path = "/" ~ page.path %}
{% else %}
  {% set path = "" %}
{% endif %}

{% if section %}
  {% if section.path is starting_with("/learn/book/") %}
    {% set show_nav_toggle = true %}
  {% elif section.path is starting_with("/learn/migration-guides/") %}
    {% set show_nav_toggle = true %}
  {% elif section.path is starting_with("/learn/errors/") %}
    {% set show_nav_toggle = true %}
  {% elif section.path is starting_with("/assets/") %}
    {% set show_nav_toggle = true %}
  {% elif section.path is starting_with("/contribute/") %}
    {% set show_nav_toggle = true %}
  {% endif %}
{% elif page %}
  {% if page.path is starting_with("/learn/book/") or page.path is starting_with("/learn/migration-guides/") or page.path is starting_with("/learn/errors/") or page.path
    is starting_with("/assets/") or page.path is starting_with("/contribute/") %}
    {% set show_nav_toggle = true %}
  {% endif %}
{% endif %}

{% set newline = "
" %}
<!DOCTYPE html>
<html lang="en" class="{% block theme %}{% endblock theme %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bevyengine.org{{ path }}" />
    <meta property="og:image"
          content="https://bevyengine.org/assets/bevy_logo_fill.png" />
    <meta property="og:description"
          content="Bevy is a refreshingly simple data-driven game engine built in Rust. It is free and open-source forever!" />
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/site.css" />
    <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
    {% if ancestor_is_public_draft or section_or_page and section_or_page.extra and section_or_page.extra.public_draft %}
    <meta name="robots" content="noindex, nofollow, noarchive">
    {% endif %}

    <title>{% if page.extra.public_draft or section.extra.public_draft %}[DRAFT] {% endif -%}{{ page_title }}</title>
    {% block head_extensions %}{% endblock head_extensions %}
  </head>
  <body>
    <div class="layout">
      <input id="mobile-menu-state" class="hidden" type="checkbox">
      <header class="layout__header header print:hidden" data-mobile-menu-state-container>
        <div class="header__content">
          <label class="main-menu-backdrop" for="mobile-menu-state"></label>
          <label class="header__hamburger button-square button-square--header"
                  for="mobile-menu-state">
            <img src="/assets/icon-hamburger.svg"
                  alt="Three horizontal lines stacked on top of eachother"
                  width="20"
                  height="16">
          </label>
          <div class="header__left-block">
            <a class="header__logo" href="/">
              <picture class="logo">
                <img src="/assets/bevy_logo_dark.svg"
                  class="logo"
                  alt="Bevy logo"
                  width="520"
                  height="130"
                />
              </picture>
            </a>
            <div class="header__message">
              {{ base_macros::page_header_message(section_or_page=section_or_page) }}
            </div>
          </div>
          {% block mobile_page_menu_state %}{% endblock mobile_page_menu_state %}
          <nav class="header__menu main-menu {% block main_menu_extra_class %}{% endblock main_menu_extra_class %}"
                role="navigation"
                data-page-menu-switch-state-container>
            <div class="main-menu__header">
              <a href="/">
                <picture class="logo">
                  <img class="logo"
                        src="/assets/bevy_logo_dark.svg"
                        alt="Bevy Engine"
                        width="520"
                        height="130"
                  />
                </picture>
              </a>
              <label class="button-square button-square--header" for="mobile-menu-state">
                <img src="/assets/icon-times.svg"
                      alt="A saltire or x-cross"
                      width="16"
                      height="16">
              </label>
            </div>
            {% block mobile_page_menu_switch %}{% endblock mobile_page_menu_switch %}
            <div class="main-menu__content">
              <div class="main-menu__page-menu">
                {% block mobile_page_menu %}{% endblock mobile_page_menu %}
              </div>
              <ul class="main-menu__menu">
                {{ header_macros::header_item(name="Getting Started", path="/learn/quick-start/getting-started",
                                extra_class="main-menu__entry--getting-started", current_path=current_path) }}
                {{ header_macros::header_item(name="Learn", current_path=current_path) }}
                {{ header_macros::header_item(name="News", current_path=current_path) }}
                {{ header_macros::header_item(name="Community", current_path=current_path) }}
                {{ header_macros::header_item(name="Foundation", current_path=current_path) }}
                {{ header_macros::header_item(name="Assets", current_path=current_path) }}
                {{ header_macros::header_item(name="Examples", current_path=current_path) }}
                {# <li class="main-menu__entry">
                <a class="main-menu__link" href="https://merch.bevyengine.org">Merch</a>
              </li> #}
              </ul>
            </div>
          </nav>
          <div class="header__cta-container">
            <a class="button button--pink header__cta" href="/donate">Donate
              <img class="button__icon"
                    src="/assets/heart.svg"
                    alt="heart icon"
                    width="512"
                    height="512" />
            </a>
            <a class="header__cta header__cta--github"
                href="https://github.com/bevyengine/bevy">
              <img src="/assets/github-mark-white.svg"
                    alt="GitHub repo"
                    width="98"
                    height="96" />
            </a>
          </div>
        </div>
      </header>
      <main class="layout__content">
        <div class="container">
          {% if section %}
            {{ public_draft::warning(section=section) }}
          {% elif page %}
            {{ public_draft::warning(section=page) }}
          {% endif %}
          {% block content %}{% endblock content %}
        </div>
      </main>
      <footer class="print:hidden">
        {% block footer_extensions %}{% endblock footer_extensions %}
        <div class="footer__social-container">
          <a class="footer__social" href="https://github.com/bevyengine/bevy">
            <img src="/assets/github-mark-white.svg"
                  alt="Bevy engine's GitHub repo"
                  width="32"
                  height="32" />
          </a>
          <a class="footer__social" href="https://discord.gg/bevy">
            <img src="/assets/discord.svg"
                  alt="Bevy Discord server"
                  width="32"
                  height="32" />
          </a>
          <a class="footer__social" href="https://mastodon.social/@bevy">
            <img src="/assets/mastodon-logo-purple.svg"
                  alt="Bevy Mastodon account"
                  width="32"
                  height="32" />
          </a>
          <a class="footer__social" href="https://twitter.com/BevyEngine">
            <img src="/assets/twitter.svg"
                  alt="Bevy Twitter account"
                  width="32"
                  height="32" />
          </a>
          <a class="footer__social" href="https://www.reddit.com/r/bevy/">
            <img src="/assets/reddit.svg"
                  alt="Bevy subreddit"
                  width="32"
                  height="32" />
          </a>
          <a class="footer__social" href="/atom.xml">
            <img src="/assets/feed.svg"
                  alt="Bevy news feed"
                  width="32"
                  height="32" />
          </a>
        </div>
      </footer>
    </div>
    <script>
    const search_params = new URLSearchParams(window.location.search);
    if (search_params.has("show_drafts") || document.cookie.indexOf("show_drafts") >= 0) {
      if (search_params.get("show_drafts") === "0") {
        document.cookie = "show_drafts=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC";
      } else {
        document.cookie = "show_drafts=1;path=/"
        document.body.classList.add('show_drafts');
      }
    }
    </script>
  </body>
</html>
