.bevy-instance {
  position: relative;

  &__progress-status {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 250px;
    transform: translateX(-50%);
    display: none;

    &:empty {
      display: none;
    }
  }

  &__progress-file {
    margin-bottom: 4px;
    font-weight: normal;
    text-shadow: 1px 1px 1px var(--bevy-instance-text-shadow-color);
    font-size: 0.85rem;
    word-break: break-all;
  }

  &__progress-track {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--bevy-instance-progress-track-color);

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  &__progress-bar {
    height: 4px;
    min-width: 4px;
    background-color: var(--bevy-instance-progress-bar-color);
    border-radius: 4px;
    width: 0px;

    &--indeterminate {
      @keyframes bg-animation {
        0% {
          background-position: 0px 0;
        }

        100% {
          background-position: -26.5px 0;
        }
      }

      // Generated using: https://stripesgenerator.com
      background-image: var(--bevy-instance-progress-bar-stripes);
      background-size: 26.5px 30.49px;

      // Animate background
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: bg-animation;
      animation-timing-function: linear;
    }
  }

  &__canvas {
    width: 100% !important;
    height: auto !important;
    border-radius: $border-radius;
    background: var(--bevy-instance-canvas-color);
  }

  &__canvas:fullscreen {
    border-radius: 0;
  }
}