.book-footer {
    $border-color: #2f3033;

    --book-footer-gap: 12px;

    margin: 32px 0;

    @media #{$bp-tablet-portrait-up} {
        --book-footer-gap: 20px;
    }

    &__nav {
        display: grid;
        gap: var(--book-footer-gap);
        padding: var(--book-footer-gap) 0;
        grid-template-columns: 1fr;
        grid-template-areas:
            'next'
            'prev'
        ;

        @media #{$bp-tablet-portrait-up} {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'prev next';
        }
    }

    &__link {
        display: flex;
        border: 2px solid $border-color;
        border-radius: 8px;
        padding: 16px 8px;

        @include override-anchor {
            color: #9b9b9d;
        }

        &:hover {
            background-color: rgba($color-white, 0.01);
            color: $color-white;

            .book-footer__dir {
                color: #999;
            }
        }

        &--prev {
            grid-area: prev;
            flex-direction: row-reverse;
            padding-left: 16px;

            .book-footer__label {
                padding: 0 8px 0 12px;
            }
        }
        
        &--next {
            grid-area: next;
            text-align: right;
            padding-right: 16px;

            .book-footer__label {
                padding: 0 12px 0 8px;
            }
        }
    }

    &__label {
        flex-grow: 1;
        font-size: 1.125rem;
        line-height: 1.3;
    }

    &__dir {
        margin-bottom: 4px;
        color: #666;
        text-transform: uppercase;
        font-size: 0.8rem;
        line-height: 1;
        letter-spacing: 0.1em;
    }

    &__chevron {
        align-self: center;
    }

    &__edit-wrapper {
        border-top: 2px solid $border-color;
        text-align: center;
        padding-top: var(--book-footer-gap);
    }

    &__edit {
        display: inline-flex;
        align-items: center;
        padding: 8px;
        font-size: 0.9rem;

        @include override-anchor {
            color: #555;
        }

        &:hover {
            color: #aaa;
        }

        .icon {
            margin-right: 4px;
        }
    }
}
