.button {
  $color-blue: #4a6e91;

  display: inline-flex;
  align-items: center;
  background-color: $color-blue;
  border: 3px solid lighten($color-blue, 13%);
  padding: 6px 8px;
  border-radius: $border-radius;
  font-size: 1.2rem;
  font-weight: 500;
  transition: transform $duration-fast;

  &:hover {
    background-color: darken($color-blue, 3%);
  }

  &:active {
    transform: translateY(2px);
  }

  &,
  &:hover,
  &:visited {
    color: var(--color-white);
    text-decoration: none;
  }

  &__icon {
    height: 1.1em;
    width: auto;
    vertical-align: middle;
    margin-left: 0.2em;
    font-size: 0.9em;
  }

  &--pink {
    background-color: var(--color-pink);
    border-color: lighten(var(--color-pink), 13%);

    &:hover {
      background-color: darken(var(--color-pink), 3%);
    }
  }
}
