.button {
    $color-blue: #799bbb;

    display: inline-flex;
    align-items: center;
    background-color: $color-blue;
    border: 3px solid #576f86;
    padding: 6px 8px;
    border-radius: $border-radius;
    font-size: 1.2rem;
    font-weight: 500;
    transition: transform $duration-fast;

    &:hover {
        background-color: darken($color-blue, 3%);
    }

    &:active {
        transform: translateY(2px);
    }

    &, &:hover, &:visited {
        color: $color-white;
        text-decoration: none;
    }

    &__icon {
        height: 1.1em;
        vertical-align: middle;
        margin-left: 0.2em;
        font-size: 0.9em;
    }

    &--pink {
        background-color: $color-pink;
        border-color: #865767;

        &:hover {
            background-color: darken($color-pink, 3%);
        }
    }
}
