.button-square {
  @include flex-center;

  position: relative;
  cursor: pointer;

  &:hover {
    &:before {
      content: "";
      position: absolute;
      inset: 8px;
      background-color: unquote(
        "rgb(from var(--button-square-bg-color) r g b / 0.05)"
      );
      border-radius: $border-radius;
    }
  }

  &--header {
    width: calc(var(--layout-header-height) - 8px);
    height: var(--layout-header-height);
  }
}
