.callout {
  margin-block: 32px;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--callout-bg-color);
  border-top: 4px solid var(--callout-accent-color);
  color: var(--callout-color);

  >:first-child {
    margin-top: 0;
  }

  >:last-child {
    margin-bottom: 0;
  }

  &,
  &--info {
    --callout-accent-color: var(--callout-accent-color-info);
    --callout-bg-color: var(--callout-bg-color-info);
    --callout-color: var(--callout-color-info);
  }

  &--caution {
    --callout-accent-color: var(--callout-accent-color-caution);
    --callout-bg-color: var(--callout-bg-color-caution);
    --callout-color: var(--callout-color-caution);
  }

  &--warning {
    --callout-accent-color: var(--callout-accent-color-warning);
    --callout-bg-color: var(--callout-bg-color-warning);
    --callout-color: var(--callout-color-warning);
  }
}
