.container {
  --container-padding: 8px;

  width: 100%;
  max-width: calc(#{$max-width} + var(--container-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--container-padding);

  @media #{$bp-tablet-landscape-up} {
    --container-padding: 16px;
  }
}
