.feature {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    grid-template-areas:
        'text'
        'image'
    ;

    @media #{$bp-feature-horizontal} {
        max-width: 1000px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'text image';
        gap: 48px;

        &--reverse {
            grid-template-areas: 'image text';
        }
    }

    &__text {
        grid-area: text;
        align-self: center;
        font-size: calc-rem(20px);
        line-height: 1.25;
    }

    &__title {
        font-size: calc-rem(32px);
        margin-top: 0;
        margin-bottom: 4px;
    }

    &__image {
        @include flex-center;

        grid-area: image;
        align-self: center;
        background-color: #2b2c2f;
        border-radius: 32px;
        padding: 16px;
        height: 200px;

        @media #{$bp-feature-horizontal} {
            height: 320px;
            padding: 32px;
        }
    }

    &__sublist {
        margin: 8px 0;
        padding-left: 24px;

        li:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}
