.feature {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
    max-width: 450px;
    grid-template-areas:
        'image'
        'text'
    ;

    * {
        box-sizing: border-box;
    }

    @media #{$bp-tablet-portrait-up} {
        max-width: 1000px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'text image';
        gap: 48px;
    }

    &:nth-child(even) {
        @media #{$bp-tablet-portrait-up} {
            grid-template-areas: 'image text';

            .feature__image-wrapper {
                justify-content: flex-end;
            }
        }
    }

    &__text {
        grid-area: text;
        align-self: center;
        font-size: 1.3rem;
        line-height: 1.25;
        text-align: center;

        @media #{$bp-tablet-portrait-up} {
            padding: 12px 0;
            text-align: left;
        }
    }

    &__title {
        font-size: 2.1rem;
        margin-top: 0;
        margin-bottom: 8px;

        @media #{$bp-tablet-portrait-up} {
            margin-bottom: 12px;
        }
    }

    &__sublist {
        padding-left: 24px;
        font-size: 1.22rem;
        text-align: left;

        li:not(:last-child) {
            margin-bottom: 4px;
        }

        @media #{$bp-phone-landscape-down} {
            width: 80%;
            margin: 8px auto;
        }

        @media #{$bp-tablet-portrait-up} {
            margin: 16px 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image-wrapper {
        grid-area: image;
        display: flex;
        justify-content: center;
        box-sizing: border-box;

        @media #{$bp-tablet-portrait-up} {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &__image {
        display: inline-block;
        background-color: #2b2c2f;
        border-radius: 20px;
        padding: 20px;
        
        @media #{$bp-tablet-portrait-up} {
            @include flex-center;

            border-radius: 28px;
            height: 100%;
            width: 100%;
            padding: 28px;
        }
    }

    &__img {
        max-height: 150px;
        max-width: 100%;
        object-fit: contain;

        @media #{$bp-tablet-portrait-up} {
            max-height: 250px;
        }
    }

    &--platforms {
        @media #{$bp-phone-landscape-down} {
            .feature {
                &__text,
                &__sublist {
                    text-align: center;
                }
        
                &__img {
                    max-height: 100px;
                }
            }
        }
    }
}
