.footer {
  &__social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding: 20px;
  }

  &__social {
    img {
      filter: var(--footer-image-filter);
      &:hover {
        scale: 110%;
      }
    }
  }
}
