.footer {
  &__social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }

  @media (prefers-color-scheme: dark) {
    &__social {
      img {
        filter: grayscale(1) brightness(800%);
        &:hover {
          scale: 110%;
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    &__social {
      img {
        filter: grayscale(1) brightness(0%);
        &:hover {
          scale: 110%;
        }
      }
    }
  }
}
