.heading-meta {
  margin-top: -0.8rem !important;
  font-style: italic;
  color: var(--text-dim-color);
  display: flex;
  gap: 5px;
  font-size: 1rem;
  flex-wrap: wrap;

  &__item {
    color: #b8b8b8 !important;
  }

  &__title {
    margin-right: 4px;
  }
}
