.heading-meta {
  margin-top: -0.8rem !important;
  font-style: italic;
  color: var(--heading-meta-text-color);
  display: flex;
  gap: 5px;
  font-size: 1rem;
  flex-wrap: wrap;

  &__item {
    color: var(--heading-meta-item-color) !important;
  }

  &__title {
    margin-right: 4px;
  }
}
