.header {
    padding-right: 8px;

    @media #{$bp-tablet-landscape-up} {
        padding: 0 16px;
    }

    &__content {
        width: 100%;
        max-width: $max-width;
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__hamburger {
        flex-shrink: 0;

        @media #{$bp-tablet-landscape-up} {
            display: none;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__cta-container {
        display: flex;
        margin-left: 16px;
    }

    &__cta {
        flex-shrink: 0;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}
