.icon {
    --icon-height: 1.2em;

    display: inline-block;
    background-color: currentColor;
    vertical-align: text-bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;

    $icons: (
        // (icon_id, width)
        ('chevron-down', 15),
        ('chevron-left', 9),
        ('chevron-right', 9),
        ('github', 24),
        ('pencil', 19),
        ('times', 16),
    );

    @each $icon in $icons {
        // Icons always must have 24px height
        // This is just for icon height consistency
        $ratio: nth($icon, 2) / 24;

        &--#{nth($icon, 1)} {
            height: var(--icon-height);
            width: calc(var(--icon-height) * #{$ratio});
            -webkit-mask-image: url('/assets/icon-#{nth($icon, 1)}.svg');
            mask-image: url('/assets/icon-#{nth($icon, 1)}.svg');
        }
    }
}
