.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-grey-900);
    border-bottom: 2px solid #2c2c2d;
    z-index: $z-layout-header;
  }

  &__content {
    width: 100%;
    padding-top: var(--header-height);
    padding-bottom: 64px;
    flex-grow: 1;
    background-color: var(--color-grey-800);
  }
}

@include state-checked("mobile-menu") {
  // Disable scroll on main content
  .layout {
    height: 100%;
    overflow: hidden;
  }
}
