/// internal page navigation
/// i.e., the "On This Page" section


.tree-menu .on-this-page {
    grid-row: 2;
    padding-inline: 0.5em;
    // border: 3px solid rgba($color-white, 0.1);
    border: 3px solid transparent;
    border-width-top: 0;
    box-sizing: border-box;
    background-color: $color-grey-800;
}

.page-with-menu .tree-menu .on-this-page {
    // desktop menu uses grey-800 as the bg
    background-color: $color-grey-900;
}

nav.on-this-page {
  font-size: 0.9em;
  ul {
    list-style-position: outside;
    padding-inline-start: 1em;
  }
  > ul {
    padding-inline-start: 0;
  }
  ::marker {
    content: "";
  }
  li[data-active=true] {
    font-weight: bolder;
    li {
        font-weight: normal;
    }
  }
}
