.page-with-menu {
    $margin-top: 24px;

    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr;
    grid-template-areas: 'content';
    margin-top: $margin-top / 2;
    
    @media #{$bp-tablet-landscape-up} {
        margin-top: $margin-top;
        grid-template-columns: 250px 1fr;
        grid-template-areas: 'menu content';
    }

    &__menu-wrapper {
        grid-area: menu;
        display: none;
        position: relative;

        @media #{$bp-tablet-landscape-up} {
            display: block;
        }
    }

    &__menu {
        position: sticky;
        top: calc(var(--header-height) + #{$margin-top});
        height: calc(100vh - var(--header-height) - #{$margin-top});
        overflow-y: scroll;
        padding-bottom: $margin-top;
    }

    &__content {
        grid-area: content;
    }
}
