.recursive {
    display: flex;
    height: 94.97vw;
    max-height: 551px;

}
@media (min-width: 572px) {
    .recursive{
        height: 47vw !important;
        max-height: 408px !important;
    }
}
@media (min-width: 858px) {
    .recursive{
        height: 31vw !important;
        max-height: 315px !important;
    }
}
@media (min-width: 992px) {
    .recursive{
        height: 35vw !important;
        max-height: 409.5px !important;
    }
}
@media (min-width: 1148px) {
    .recursive{
        height: 23vw !important;
        max-height: 294px !important;
    }
}