.search-category {
  --search-category-bg-color: var(--search-category-default-bg-color);

  background-color: transparent;
  border: 1px solid var(--search-category-border-color);
  font-size: calc-rem(18px);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  color: var(--search-category-text-color);

  &:hover {
    color: var(--search-category-text-hover-color);
    background-color: #{unquote('rgb(from var(--search-category-default-bg-hover-color) r g b / 0.05)')};
  }

  &--quickstart,
  &--book {
    --search-category-bg-color: var(--search-category-cat-book-bg-color);
  }

  &--examples {
    --search-category-bg-color: var(--search-category-cat-examples-bg-color);
  }

  &--migrations {
    --search-category-bg-color: var(--search-category-cat-migrations-bg-color);
  }

  &--errors {
    --search-category-bg-color: var(--search-category-cat-errors-bg-color);
  }

  &--news {
    --search-category-bg-color: var(--search-category-cat-news-bg-color);
  }

  &--contribute {
    --search-category-bg-color: var(--search-category-cat-contribute-bg-color);
  }

  &--active {
    --text-color: #{unquote("hsl(from var(--search-category-bg-color) h s 90)")};

    background-color: var(--search-category-bg-color);
    color: var(--text-color);
    border-color: unquote(
      "hsl(from var(--search-category-bg-color) h s calc(l + 10))"
    );

    &:hover {
      color: var(--text-color);
      background-color: unquote(
        "hsl(from var(--search-category-bg-color) h s calc(l + 4))"
      );
    }
  }

  &--compact {
    padding: 2px 4px;
    font-size: calc-rem(14px);
    cursor: default;
    border-radius: 2px;

    &:hover {
      background-color: var(--search-category-bg-color);
    }
  }
}
