.sponsors {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 56px;
    }

    &__title {
        font-size: calc-rem(35.2px);
        margin: 0 0 24px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
        
        @media #{$bp-tablet-landscape-up} {
            max-width: none;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__link {
        display: block;
        margin: 0 24px 24px;
    }

    &__logo {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    $tiers: (
        ('tier': 'platinum', 'color': $color-white, 'height': 112px),
        ('tier': 'silver',   'color': #bbb,       'height': 86px),
        ('tier': 'bronze',   'color': #b79b83,    'height': 60px),
    );

    @each $tier in $tiers {
        &--#{map-get($tier, 'tier')} {
            .sponsors {
                &__title {
                    color: map-get($tier, 'color');
                }

                &__link {
                    max-height: map-get($tier, 'height');

                    @media #{$bp-tablet-landscape-up} {
                        height: map-get($tier, 'height');
                    }
                }
            }
        }
    }
}
