.sponsors {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  &--corporate_platinum,
  &--corporate_bronze,
  &--diamond,
  &--titanium {
    background-color: var(--color-neutral-700);
    border-radius: 8px;
    padding: 24px 24px 8px;

    .sponsors {
      &__title {
        color: var(--color-neutral-100);
        margin: 0 0 16px;
      }

      &__name {
        color: var(--color-blue-link);
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 56px;
  }

  &__title {
    font-size: 2.8rem;
    margin-bottom: -10px;
  }

  &__amount {
    font-size: 1.2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;

    @media #{$bp-tablet-landscape-up} {
      max-width: none;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__name {
    display: block;
    margin: 0 10px 10px;
    color: rgb(150, 150, 150);
    font-size: 1.25rem;
  }

  &__link {
    display: block;
    margin: 0 15px 15px;
    color: var(--link-color);
    font-size: 1.5rem;
  }

  &__amount {
    margin-top: -4px;
    font-size: 1.2rem;
    color: rgb(150, 150, 150);
  }

  &__content {
    display: flex;
    max-width: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__logo {
    object-fit: contain;
    width: 100%;
    transition: transform 0.2s; /* Animation */
  }

  &__logo:hover {
    transform: scale(
      1.05
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.sponsors-section {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.5rem !important;
  line-height: 2.2rem !important;
}

.past-donors-title {
  font-size: 2.8rem;
  margin-bottom: 16px;
}

.past-donor {
  font-size: 1rem;
  color: rgb(150, 150, 150);
}
