div.incorrect {
  position: relative;
  background-color: var(--code-incorrect-bg-color);
  border-left: 10px solid var(--code-incorrect-border-color);
  border-radius: 10px;
  padding-right: 55px;

  .z-code,
  .z-code code {
    background-color: var(--code-incorrect-bg-color);
  }
}

div.incorrect:hover {
  border-color: var(--code-incorrect-border-hover-color);

  img {
    filter: var(--code-incorrect-img-hover-filter);
  }
}

div.incorrect-image {
  position: absolute;
  z-index: 99;
  right: 20px;
  top: 10px;

  img {
    width: 35px;
    height: 35px;
    filter: var(--code-incorrect-img-filter);
  }
}
