/// internal page navigation
/// i.e., the "On This Page" section

nav.on-this-page {
  font-size: 1rem;
  border-left: 3px solid; // inherits text color
  padding-inline-start: 5px;
  ul {
    list-style-position: outside;
    padding-inline-start: 1em;
  }
  > ul {
    margin-block: 0.5em;
    padding-inline-start: 0;
  }
  ::marker {
    content: "";
  }
  li[data-active=true] {
    font-weight: bolder;
    li {
        font-weight: normal;
    }
  }
}
