{% macro card(post) %}
<div class="card" id="{{ post.title | slugify }}">
    <a href="{{ post.extra.link }}">
        {% if post.extra.image %}
        <div class="card-image card-image-default">
            <img src="{{ get_url(path=post.extra.image) }}" />
        </div>
        {% endif %}
        <div class="card-text">
            <div class="card-title">{{ post.title }}</div>
            <div class="card-description">
                {{ post.description | striptags | truncate(length=100) | safe }}
            </div>
        </div>
    </a>
</div>
{% endmacro card %}

{% macro assets_menu(sections) %}
    <ul class="book-nav-sections-container book-nav-sections">
        {% for subsection in section.subsections %}
            {% set section = get_section(path=subsection) %}
            <li class="book-nav-section">
                <a href="#{{ section.title | slugify }}" class="book-nav-section-title">{{ section.title }}</a>
                {% if section.subsections %}
                    <ul class="book-nav-sections book-nav-sections-indented">
                        {% set subsections = section.subsections %}
                        {% if section.extra.sort_order_reversed %}
                            {% set subsections = section.subsections | reverse %}
                        {% endif %}

                        {% for subsection in subsections %}
                            {% set section = get_section(path=subsection) %}
                            <li class="book-nav-section">
                                <a href="#{{ section.title | slugify }}" class="book-nav-section-title">{{ section.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
