{% macro book_menu_row(prefix, section_path) %}
    {% set section = get_section(path=section_path) %}
    {% set is_in_branch = section.path in current_path %}
    {% set is_active = current_path == section.path %}
    {% set id = prefix ~ '-' ~ section.path | slugify %}
    {% set class = "tree-menu__item" %}
    {% set label_class = "tree-menu__label" %}

    {% if is_active %}
        {% set class = class ~ " tree-menu__item--active" %}
    {% endif %}

    {% if section.subsections %}
        {% set label_class = label_class ~ " tree-menu__label--with-chevron" %}
        <input id="{{id}}" class="tree-menu__state" type="checkbox" {% if is_in_branch %}checked{% endif %}>
    {% endif %}

    <li class="{{class}}">
        <div class="{{label_class}}">
            <a class="tree-menu__link" href="{{section.path}}">{{ section.title }}</a>
            {% if section.subsections %}
                <label class="tree-menu__toggle" for="{{id}}">
                    <img class="tree-menu__chevron" src="/assets/icon-chevron-down.svg">
                </label>
            {% endif %}
        </div>
        {% if section.subsections %}
            <ul class="tree-menu">
                {% for s in section.subsections %}
                    {{ self::book_menu_row(prefix=prefix, section_path=s) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro book_menu_row %}

{% macro book_menu(root, prefix) %}
    <ul class="tree-menu">
        {% for s in root.subsections %}
            {{ self::book_menu_row(prefix=prefix, section_path=s) }}
        {% endfor %}
    </ul>
{% endmacro %}
