{% macro combine(toml_path) %}
  {% set guides_data = load_data(path=toml_path) %}
  {% for guide in guides_data.guides %}
    {% set guide_body = load_data(path=toml_path | split(pat="/") | slice(end=-1) | concat(with=guide.file_name) | join(sep="/")) %}
    <h3 id="{{ guide.title | slugify }}">
      <a href="{{ guide.url }}">{{ guide.title }}</a>
      <a class="anchor-link" href="#{{ guide.title | slugify }}">#</a>
    </h3>

    <div class="migration-guide-area-tags">
      {% for area in guide.areas %}
        <div class="migration-guide-area-tag">{{ area }}</div>
      {% endfor %}
    </div>

    <p>
      {{ guide_body | markdown(inline=true) | safe }}
    </p>
  {% endfor %}
{% endmacro combine %}