<!--- Handling missing variables -->
{% if not crate %}
	{% set crate = "std" %}
{% endif %}

{% if not version %}
	{% set version = "latest" %}
{% endif %}

{% if not mod %}
	{% set mod_path = "" %}
	{% set mod = "" %}
{% else %}
	{% set mod_path = "/" ~ mod | replace(from="::", to="/") %}
{% endif %}

<!--- Deciding which website to link to -->
{% if crate == "std" %}
	{% set base_url = "https://doc.rust-lang.org" %}
	{% set crate_url = "/stable/" ~ crate %}
{% else %}
	{% set base_url = "https://docs.rs" %}
	{% set crate_url = "/" ~ crate ~ "/" ~ version ~ "/" ~ crate %}
{% endif %}

<!--- Building link URL -->
{% if type %}
	{% set url_body = mod_path ~ "/"  ~ type ~ "." ~ name ~ ".html" %}
	{% if method and type == "trait" %}
		{% set url_body = url_body ~ "#tymethod." ~ method %}
	{% elif method %}
		{% set url_body = url_body ~ "#method." ~ method %}
	{% elif field %}
		{% set url_body = url_body ~ "#structfield." ~ method %}
	{% elif variant %}
		{% set url_body = url_body ~ "#variant." ~ method %}
	{% elif impl %}
		{% set url_body = url_body ~ "#impl-" ~ impl %}
	{% endif %}
{% else %}
	{% set url_body = mod_path ~ "/index.html" %}
{% endif %}

<!--- Building link text -->
{% set link_text = "" %}
{% if not type or show_mod %}
	{% if not no_crate %}
		{% set link_text = crate %}
	{% endif %}
	{% if mod %}
		{% set link_text = link_text ~ "::" ~ mod %}
	{% endif %}
{% endif %}

{% if type and name %}
	{%if show_mod %}
		{% set link_text = link_text ~ "::" ~ name %}
	{% else %}
		{% set link_text = name %}
	{% endif %}
	{% if method %}
		{% set link_text = link_text ~ "::" ~ method %}
	{% elif field %}
		{% set link_text = link_text ~ "::" ~ field %}
	{% elif variant %}
		{% set link_text = link_text ~ "::" ~ variant %}
	{% elif impl %}
		{% set link_text = "impl " ~ impl ~ "for" ~ link_text %}
	{% endif %}
{% endif %}

{% if generic %}
	{% if method %}
		{% set link_text = link_text ~ "::<" ~ generic ~ ">" %}
	{% else %}
		{% set link_text = link_text ~ "<" ~ generic ~ ">" %}
	{% endif %}
{% endif %}

{% if plural %}
	{% set link_text = link_text ~ "s" %}
{% endif %}

<!--- Final text -->
<a href="{{base_url}}{{crate_url}}{{url_body}}">{{link_text}}</a>
