.assets {
    .assets-intro {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .asset-section {
        font-size: 2.4rem;
        margin: 0 0 20px;
    }

    .asset-subsection {
        font-size: 1.9rem;
        margin: 0 0 16px;
    }

    .item-grid {
        margin-bottom: 52px;
    }
}