.assets {
    display: flex;

    .asset-section {
        font-size: 2.4rem;
        margin: 0 0 20px;
    }

    .asset-subsection {
        font-size: 1.9rem;
        margin: 0 0 16px;
    }

    .item-grid {
        margin-bottom: 52px;
    }

    .card {
        margin: 0;
        height: 8rem;
    }

    .card-title {
        font-size: 1.3rem;
        overflow-wrap: break-word;
    }

    .card-description {
        font-size: 1rem;
        height: initial;
    }

    .card-image > img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    a {
        text-decoration: none;
    }

    .book-content {
        margin-top: 16px;

        h3 {
            font-size: 1.9rem;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
