.assets {
    .assets-intro {
        margin-bottom: 20px;
    }

    .assets-filters {
        margin-bottom: 20px;
    }

    .asset-section {
        font-size: 2.4rem;
        margin: 0 0 20px;
    }

    .asset-subsection {
        font-size: 1.9rem;
        margin: 0 0 16px;
    }

    .item-grid {
        margin-bottom: 52px;
    }

    .assets-search {
        margin-bottom: 20px;

        &__input {
            @include card;
            font-size: 1.2rem;
            padding: $asset-card-padding;
            width: 100%;

            &:focus-visible {
                outline: none;
            }
        }
    }
}
