.book-page {
    display: flex;
    width: 100%;
    min-height: 500px;
}

.book-page-subtitle {
    font-size: 1.3rem;
    font-weight: 800;
    color: #999999;
    font-style: italic;
    vertical-align: middle;
}

.book-content {
    padding-left: $default-padding;
    padding-right: $default-padding;
    position: relative;
    width: 100%;
    min-width: 0;
    h1 {
        margin-top: $default-padding;
        font-size: 2.4rem;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: underline;
        margin-bottom: 15px;
    }

    p {
        margin-top: 5px;
    }
}


.book-whats-a-bevy {
    background-color: #00000000 !important;
    height: 2.4rem !important;
    border-radius: unset !important;
}


$pager-bar-width: 80px;
$pager-bar-icon-height: 5rem;
$pager-bar-background-color-out: rgba($syntax-theme-background, 0);
$pager-bar-background-color-in: #29292c;

.book-pagers {
    width: 100%;
    height: $pager-bar-icon-height;
}

.book-pager-bar {
    display: flex;
    position: absolute;
    display: block;
    height: 100%;
    width: $pager-bar-width;
    transition: 0.2s;
    z-index: 1;
}

.book-pager-bar-previous:hover {
    background-image: linear-gradient(to right, #00000000, rgba($pager-bar-background-color-in, 0.75));
}

.book-pager-bar-next:hover {
    background-image: linear-gradient(to left, #00000000, rgba($pager-bar-background-color-in, 0.75));
}

.book-pager-bar-previous {
    left: -$pager-bar-width;
    border-bottom-left-radius: 10px;
}

.book-pager-bar-next {
    left: 100%;
    border-bottom-right-radius: 10px;
}

.book-pager-image {
    height: 100%;
    user-select: none; 
}

.book-pager-image-left {
    float: left;
    margin-left: $default-padding;
}

.book-pager-image-right {
    float: right;
    margin-right: $default-padding;
}

$pager-bar-icon-width: 200px;
.book-pager-bar-icon {
    display: block;
    width: $pager-bar-icon-width;
    height: $pager-bar-icon-height;
    position: absolute;
    bottom: 0px;
}

.book-pager-bar-icon-previous {
    position: absolute;
    left: $pager-bar-width;
}

.book-pager-bar-icon-next {
    position: absolute;
    left: -$pager-bar-icon-width;
}
