.docs-page {
  display: flex;
  width: 100%;
  min-height: 500px;
}

.docs-content {
  position: relative;
  width: 100%;
  min-width: 0;

  h1 {
    font-size: 2.4rem;
    margin: 0 0 16px;
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
  }

  h4 {
    font-weight: 500;
  }

  p {
    margin-top: 5px;
  }

  pre:has(code) {
    position: relative;

    button.copy {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.5rem;
      width: 2rem;
      height: 2rem;
      border-color: transparent;
      background-color: transparent;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    /* :hover for mouse & touchscreen,
     * :focus for keyboard navigation */
    &:hover button.copy,
    button.copy:focus {
      opacity: 1;
    }
  }
}

.docs-whats-a-bevy {
  filter: var(--docs-whats-a-bevy-filter);
  height: 2.4rem !important;
  border-radius: unset !important;
}
