div.donate-sponsor {
  position: absolute;
  bottom: 0.4rem;
  right: 0.8rem;

  svg {
    margin-right: 4px;
  }
}

.donate-page {
  font-size: 1.22rem;
  font-weight: 400;
  line-height: 1.43;
  color: var(--donate-text-color);
  font-style: normal;
  text-decoration: none;
  word-break: break-word;

  h2 {
    text-align: center;
    margin-top: 2.2rem;
    margin-bottom: 0.5rem;
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: var(--donate-link-color);
  }
}

.donate-support {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  margin-top: 5rem;
}

.donate-support-text {
  width: 500px;
}

.donate-support-bevy {
  font-weight: 900;
  font-size: 5rem;
}

.donate-support-description {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--donate-description-color);
}

.donate-header-padding {
  padding-top: 9rem;
}

.donate-metrics {
  height: 200px;
  width: 400px;
  margin-top: 30px;
}

.donate-metric {
  float: right;
  clear: right;
  margin-bottom: 1rem;
  line-height: 40px;
  border-bottom-width: 4px;
  border-bottom-color: var(--donate-metric-color);
  border-bottom-style: solid;
}

.donate-number {
  font-size: 4rem;
  font-weight: 900;
}

.donate-number-label {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  width: 160px;
  text-align: right;
}

.donate-membership-description {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  max-width: 850px;
  margin-bottom: 20px;
}

.donate-levels-container {
  margin: auto;
  max-width: 850px;
}

.donate-membership-levels {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.donate-level {
  display: flex;
  position: relative;
  width: 280px;
  height: 134px;
  background-color: var(--donate-level-bg-color);

  &:hover {
    text-shadow: none !important;
  }
}

.donate-level-info {
  margin-top: 8px;
  margin-left: 14px;
}

.donate-level-icon {
  width: 70px;
  float: left;
}

.donate-level-corporate {
  color: var(--donate-level-corporate-color);
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: -6px;
  margin-bottom: -12px;
}

.donate-level-text {
  margin-top: 4px;
  margin-left: 15px;
  float: left;
}

.donate-level-name {
  font-weight: 900;
  font-size: 2.5rem;
}

.donate-level-amount {
  margin-top: -0.8rem;
  color: var(--donate-level-amount-color);
  font-weight: 500;
}

.donate-level-bronze {
  color: var(--donate-level-bronze-color);
}

.donate-level-silver {
  color: var(--donate-level-silver-color);
}

.donate-level-gold {
  color: var(--donate-level-gold-color);
}

.donate-level-platinum {
  color: var(--donate-level-platinum-color);
}

.donate-level-titanium {
  color: var(--donate-level-titanium-color);
}

.donate-level-diamond {
  color: var(--donate-level-diamond-color);
}

.donate-level-patron {
  color: var(--donate-level-patron-color);
}

.donate-corporate-button {
  display: block;
  margin-top: 1rem;
  margin: auto;
  text-align: center;
  align-self: center;
  padding-top: 4px;
  margin-top: 10px;
  width: 200px;
  height: 40px;
}

.tier-rewards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 3px;
}

.tier-reward {
  height: 20px;
  font-size: 0.9rem;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
  color: var(--donate-tier-reward-color);
  line-height: 1.4rem;
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
}

.credits-text {
  text-align: center;
  width: 75%;
  margin: auto;
  font-size: 1.3rem;
}

.donate-faq-link {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4rem;
}

#membership {
  display: block;
}

#corporate-sponsorship {
  display: none;
}

@include state-checked("donate-view") {
  #membership {
    display: none;
  }

  #corporate-sponsorship {
    display: block;
  }
}
