.bevy-logo-header {
    display: block;
    margin: 32px auto;
    width: 100%;
    max-width: 35rem;
}

.bevy-description {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.feature-list {
    display: grid;
    gap: 56px;
    margin: 32px 0 64px;

    @media #{$bp-tablet-portrait-up} {
        gap: 56px;
        margin: 56px 0 96px;
    }
}

.features-whats-next {
    text-align: center;
    font-size: 1.5rem !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.features-sponsors {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2.2rem !important;
    margin-bottom: 8rem;
}

.sponsors-section {
    display: flex;
    width: 100%;
    justify-content: center;
}

.bronze-sponsor-image {
    height: 3.8rem;
    margin: 1rem;
}

.silver-sponsor-image {
    height: 5.4rem;
    margin: 1rem;
}

.platinum-sponsor-image {
    height: 7.0rem;
    margin: 1rem;
}
