.migration-guide {
  h3 {
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 0.1rem;
    border-top: solid darken(var(--color-white), 60%) 1px;
  }

  p,
  ul,
  li,
  code {
    font-size: 1rem;
  }
}

.migration-guide-area-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  color: gray;
}

.migration-guide-area-tag {
  display: block;
  font-size: 0.8rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  line-height: 1;
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 1px;
}
