@use '../vars';

.news-title {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 0px;
}

.news-subtitle {
  margin-top: 0px;
  font-size: 1.22rem;
  font-weight: 200;
  font-style: italic;
  color: var(--news-subtitle-color);
}

.news-content {
  img {
    border-radius: vars.$border-radius;
    max-width: 100%;
  }

  video {
    border-radius: vars.$border-radius;
    max-width: 100%;
  }
}

.news-social-links {
  display: inline-block;
}

.news-social-icon {
  height: 1.3rem;
  width: auto;
  vertical-align: middle;
}

.news-social-link {
  font-size: 1.1rem;
  color: var(--news-social-link-color);
}

.release-feature-authors {
  margin-top: -0.8rem !important;
  font-style: italic;
  color: var(--news-feature-authors-color);
}

.news-image-subtitle {
  color: var(--news-feature-image-subtitle);
  font-style: italic;
  font-size: 1rem;
  margin-top: -0.3rem;
  text-align: center;
}

.fun-list {
  color: var(--news-fun-list-color);
}

.news-homepage-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 4rem 0 1rem 0;
  text-align: center;
}

.news-homepage-subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 4rem 0 1rem 0;
  text-align: center;
}

$card-height-large-screen: 20rem;
$card-height-mobile: 12rem;
.news-list {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0 solid aqua;
  margin: 0.5rem;
  position: relative;
  height: $card-height-mobile;
  @media (min-width: vars.$bp-tablet-landscape) {
    height: $card-height-large-screen;
  }
  overflow: hidden;
  border-radius: vars.$border-radius;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
    z-index: 0;
  }

  &__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 2s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
  }
  &__text-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 1.5s ease;
  }
  &__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
  }
  &__post-date {
    font-size: .85rem;
    margin-bottom: .5rem;
    color: #CCC;
  }
  &__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
  }

  @media (min-width: vars.$bp-tablet-landscape) {
    &:hover &__details-wrapper {
      max-height: $card-height-large-screen;
      opacity: 1;
    }
    &:hover &__text-wrapper {
      background-color: rgba(0, 0, 0, 0.6);
    }
    &:hover &__title {
      color: var(--color-blue-85);
    }
    &:hover &__image {
      transform: scale(1.2);
      z-index: -1;
    }
  }
  &__excerpt {
    font-weight: 300;
  }
}
