.news-title {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
}

.news-subtitle {
    margin-top: 0px;
    font-size: 1.22rem;
    font-weight: 200;
    font-style: italic;
    color: $subtitle-color;
}

.news-content {
    img {
        border-radius: $border-radius;
        max-width: 100%;
    }

    video {
        border-radius: $border-radius;
        max-width: 100%;
    }
}

.news-social-links {
    display: inline-block;
}

.news-social-icon {
    height: 1.3rem;
    vertical-align: middle;
}

.news-social-link {
    font-size: 1.1rem;
    color: $default-color;
}

.release-feature-authors {
    margin-top: -1.0rem !important;
    font-style: italic;
    color: $subtitle-color;
}

.news-image-subtitle {
    color: $subtitle-color;
    font-style: italic;
    font-size: 1.0rem;
    margin-top: -0.5rem;
}