html {
  color: var(--default-color);
  color-scheme: dark;
  font-family: var(--font-family-sans);
  font-size: calc-rem($size-body-mobile);
  background-color: var(--color-grey-900);
  scroll-padding-top: var(--scroll-padding-top);

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }

  @media #{$bp-tablet-portrait-up} {
    font-size: calc-rem($size-body);
  }

  @media #{$bp-tablet-portrait-up} {
    font-size: calc-rem($size-body);
  }
}
