html {
    overflow-y: scroll;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    color: $default-color;
    font-family: 'Fira Sans', sans-serif;
    background-color: #232326;
}

div.incorrect {
    background-color: #542326;
    border-left: 10px solid red;
    border-radius: 10px;

    .z-code,
    .z-code code {
        background-color: #542326;
    }
}

@media screen and (max-width: 790px) {

    html,
    body {
        font-size: 0.7rem;
    }
}