html {
    color: $default-color;
    font-family: 'Fira Sans', sans-serif;
    font-size: calc-rem($size-body-mobile);
    background-color: $color-grey-900;
    scroll-padding-top: var(--scroll-padding-top);

    * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    @media #{$bp-tablet-portrait-up} {
        font-size: calc-rem($size-body);
    }
}