table {
  border-spacing: 0;
  border: 2px solid var(--subtitle-color);
  border-radius: $border-radius;
}

thead {
  background-color: var(--color-grey-900);
}

tr td {
  padding: 0.5rem;
  border-top: 2px solid var(--subtitle-color);
}

tr td:not(:first-child) {
  border-left: 2px solid var(--subtitle-color);
}

table tr:first-child {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  
  th:first-child {
    border-top-left-radius: $border-radius;
  }
  
  th:last-child {
    border-top-right-radius: $border-radius;
  }
}
