{% extends "layouts/page-with-menu.html" %}
{% import "macros/assets.html" as macros %}

{% block page_name %}Assets{% endblock %}

{% block mobile_page_menu %}
    {{macros::assets_menu(sections=section.subsections)}}
{% endblock %}

{% block page_menu %}
    {{macros::assets_menu(sections=section.subsections)}}
{% endblock %}

{% block page_content %}
<div class="assets">
    <div class="book-content">
        {% for subsection in section.subsections %}
        {% set section = get_section(path=subsection) %}

        <a class="anchor-target" id="{{ section.title | slugify }}"></a>
        <h1 id="{{ section.title | slugify }}" class="asset-section">
            {{ section.title }}<a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
        </h1>

        {% if section.pages %}
        <div class="card-list padded-content">
            {% set pages = section.pages %}
            {% if section.extra.sort_order_reversed %}
            {% set pages = section.pages | reverse %}
            {% endif %}
            {% for post in pages %}
            {{ macros::card(post=post) }}
            {% endfor %}
        </div>
        {% endif %}

        {% set subsections = section.subsections %}
        {% if section.extra.sort_order_reversed %}
        {% set subsections = section.subsections | reverse %}
        {% endif %}
        {% for subsection in subsections %}
        {% set section = get_section(path=subsection) %}

        <a class="anchor-target" id="{{ section.title | slugify }}"></a>
        <h3>
            {{ section.title }}<a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
        </h3>
        <div class="card-list padded-content">
            {% set pages = section.pages %}
            {% if section.extra.sort_order_reversed %}
            {% set pages = section.pages | reverse %}
            {% endif %}
            {% for post in pages %}
            {{ macros::card(post=post) }}
            {% endfor %}
        </div>

        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
