{% extends "layouts/page-with-menu.html" %}
{% import "macros/assets.html" as assets_macros %}

{% block page_name %}Assets{% endblock %}

{% block mobile_page_menu %}
    {{assets_macros::assets_menu(prefix="mobile-menu", root=section)}}
{% endblock %}

{% block page_menu %}
    {{assets_macros::assets_menu(prefix="page-menu", root=section)}}
{% endblock %}

{% block page_content %}
    <div class="assets">
        {{ assets_macros::init_svg() }}

        <div class="assets-intro media-content">
            A collection of third-party Bevy assets, plugins, learning resources, and apps made by the community. If you would like to
            share what you're working on, <a href="https://github.com/bevyengine/bevy-assets">submit a pull request</a>!
        </div>

        {% for subsection in section.subsections %}
        {% set section = get_section(path=subsection) %}

        <h1 class="asset-section" id="{{ section.title | slugify }}">
            {{ section.title }}<a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
        </h1>

        {% if section.pages %}
        <div class="item-grid">
            {% set pages = section.pages %}
            {% if section.extra.sort_order_reversed %}
            {% set pages = section.pages | reverse %}
            {% endif %}
            {% for post in pages %}
            {{ assets_macros::card(post=post) }}
            {% endfor %}
        </div>
        {% endif %}

        {% set subsections = section.subsections %}
        {% if section.extra.sort_order_reversed %}
        {% set subsections = section.subsections | reverse %}
        {% endif %}
        {% for subsection in subsections %}
        {% set section = get_section(path=subsection) %}

        <h3 class="asset-subsection" id="{{ section.title | slugify }}">
            {{ section.title }}<a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
        </h3>
        <div class="item-grid">
            {% set pages = section.pages %}
            {% if section.extra.sort_order_reversed %}
            {% set pages = section.pages | reverse %}
            {% endif %}
            {% for post in pages %}
            {{ assets_macros::card(post=post) }}
            {% endfor %}
        </div>

        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
