{% macro card(post) %}
<div class="card" id="{{ post.title | slugify }}">
    <a href="{{ post.extra.link }}">
        {% if post.extra.image %}
        <div class="card-image card-image-default">
            <img src="{{ get_url(path=post.extra.image) }}" />
        </div>
        {% endif %}
        <div class="card-text">
            <div class="card-title">{{ post.title }}</div>
            <div class="card-description">
                {{ post.description | striptags | truncate(length=100) | safe }}
            </div>
        </div>
    </a>
</div>
{% endmacro card %}
