{% extends "layouts/base.html" %}
{% import "macros/assets.html" as assets_macros %}

{% block content %}
<div class="assets">
    <input type="checkbox" style="display: none" id="show-book-nav" />
    <nav class="book-nav" role="navigation">
        {{assets_macros::assets_menu(prefix="page-menu", root=section)}}
    </nav>
    <div class="book-content">
        {% for subsection in section.subsections %}
        {% set section = get_section(path=subsection) %}

        <h1 id="{{ section.title | slugify }}" class="asset-section">
            {{ section.title }}<a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
        </h1>

        {% if section.pages %}
        <div class="item-grid">
            {% set pages = section.pages %}
            {% if section.extra.sort_order_reversed %}
            {% set pages = section.pages | reverse %}
            {% endif %}
            {% for post in pages %}
            {{ assets_macros::card(post=post) }}
            {% endfor %}
        </div>
        {% endif %}

        {% set subsections = section.subsections %}
        {% if section.extra.sort_order_reversed %}
        {% set subsections = section.subsections | reverse %}
        {% endif %}
        {% for subsection in subsections %}
        {% set section = get_section(path=subsection) %}

        <h3 id="{{ section.title | slugify }}">
            {{ section.title }}<a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
        </h3>
        <div class="item-grid">
            {% set pages = section.pages %}
            {% if section.extra.sort_order_reversed %}
            {% set pages = section.pages | reverse %}
            {% endif %}
            {% for post in pages %}
            {{ assets_macros::card(post=post) }}
            {% endfor %}
        </div>

        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
