{% extends "base.html" %}

{% block content %}
<div class="awesome">
    {% for subsection in section.subsections %}
    {% set section = get_section(path=subsection) %}

    <h1 id="{{ section.title | slugify }}">
        {{ section.title }}
        <a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
    </h1>
    <div class="card-list padded-content">
        {% for post in section.pages %}
        <div class="card" id="{{ post.title | slugify }}">
            {% if post.extra.image %}
            <div class="card-image card-image-default">
                <img src="{{ get_url(path=post.extra.image) }}" />
            </div>
            {% endif %}
            <div class="card-text">
                <a class="card-title" href="{{ post.extra.link }}">
                    {{ post.title }}
                </a>
                <div class="card-description">
                    {{ post.description | markdown(inline=true) | safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for subsection in section.subsections %}
    {% set section = get_section(path=subsection) %}

    <h3 id="{{ section.title | slugify }}">
        {{ section.title }}
        <a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
    </h3>
    <div class="card-list padded-content">
        {% for post in section.pages %}
        <div class="card" id="{{ post.title | slugify }}">
            {% if post.extra.image %}
            <div class="card-image card-image-default">
                <img src="{{ get_url(path=post.extra.image) }}" />
            </div>
            {% endif %}
            <div class="card-text">
                <a class="card-title" href="{{ post.extra.link }}">
                    {{ post.title }}
                </a>
                <div class="card-description">
                    {{ post.description | markdown(inline=true) | safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endfor %}
    {% endfor %}

</div>
{% endblock content %}