{% import "header-macros.html" as header_macros %}
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174565254-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-174565254-1');
        </script>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
        <link rel="stylesheet" href="/site.css" />
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,800;1,400&display=swap"
            rel="stylesheet">
        {% if section and section.title %}
            <title>Bevy - {{section.title}}</title>
        {% elif page and page.title %}
            <title>Bevy - {{page.title}}</title>
        {% else %}
            <title>Bevy</title>
        {% endif %}
        {% block head_extensions %} {% endblock %}
    </head>

    <body>
        <div class="headerbar-container">
            <nav class="headerbar container">
                <a href="/" class="header-logo">
                    <img src="/assets/bevy_logo_dark.svg" class="logo" alt="bevy logo" />
                </a>
                <a href="/" class="header-logo-mobile">
                    <img src="/assets/bevy_icon_dark.svg" class="logo" alt="bevy icon" />
                </a>
                <div class="header-item header-message">
                    {% if section and section.extra.header_message %}
                    {{section.extra.header_message}}
                    {% elif page and page.extra.header_message %}
                    {{page.extra.header_message}}
                    {% elif section and section.path is starting_with("learn/book/") %}
                        The Book
                    {% elif section and section.path is starting_with("news/") %}
                        News
                    {% elif page and page.path is starting_with("news/") %}
                        News
                    {% else %}
                        Features
                    {% endif %}
                </div>
                <div class="header-item header-push"></div>
                {{header_macros::header_item(name="Features", path="/", current_path=current_path)}}
                {{header_macros::header_item(name="Learn", current_path=current_path)}}
                {{header_macros::header_item(name="News", current_path=current_path)}}
                {{header_macros::header_item(name="Community", current_path=current_path)}}
                <a class="header-item header-button" href="/learn/book/getting-started/">Get Started</a>
            </nav>
        </div>
        <section class="section">
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </section>
    </body>
</html>