{% macro book_nav_section(section_path, section_number) %}
{% set section = get_section(path=section_path) %}
<li class="book-nav-section">
    <a href="{{ section.permalink }}" {% if current_path == section.path %}class="book-nav-section-title-active book-nav-section-title" {% else %}class="book-nav-section-title"{% endif %}>
        <strong>{{ section_number }}.</strong>
        {{ section.title | lower }}
    </a>
    {% if section.subsections %}
    <ul class="book-nav-sections book-nav-sections-indented">
        {% for s in section.subsections %}
        {% set subsection_number = section_number ~ "." ~ loop.index %}
        {{ book_macros::book_nav_section(section_path=s, section_number=subsection_number) }}
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endmacro book_nav_section %}

{# these 'find next' and 'find previous' macros are absolutely crazy because of weird limitations in Tera and Zola #}
{# don't hate the player hate the game #}

{% macro find_next_section(current_section_path, target_section_path) %}
    {% if current_section_path == target_section_path %}
        {% set found_section = "true" %}
    {% else %}
        {% set found_section = "false" %}
        {% set section = get_section(path=current_section_path) %}
        {% if section.subsections %}
            {% for s in section.subsections %}
                {% if found_section == "true" %}
                    {% set_global found_section = s %}
                    {% break %}
                {% else %}
                    {% set_global found_section = book_macros::find_next_section(current_section_path=s, target_section_path=target_section_path) %}
                    {% set_global found_section = found_section | trim %}
                    {% if found_section != "true" and found_section != "false" %}
                        {% break %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {{found_section}}
{% endmacro book_nav_section %}

{# im seriously so sorry about how gross this is. it was the only way #}
{% macro find_previous_section(current_section_path, target_section_path) %}
    {% set_global found_section = "false" %}
    {% if current_section_path == target_section_path %}
        {% set found_section = "true" %}
    {% else %}
        {% set found_section = "false" %}
        {% set section = get_section(path=current_section_path) %}
        {% if section.subsections %}
            {% for s in section.subsections | reverse %}
                {% if found_section == "true" %}
                    {% set_global found_section = book_macros::get_last_descendent_or_self(section_path=s) %}
                    {% break %}
                {% else %}
                    {% set_global found_section = book_macros::find_previous_section(current_section_path=s, target_section_path=target_section_path) %}
                    {% set_global found_section = found_section | trim %}
                    {% if found_section == "true" and s == section.subsections | first %}
                        {% set_global found_section = current_section_path %}
                        {% break %}
                    {% elif found_section != "true" and found_section != "false" %}
                        {% break %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {{found_section}}
{% endmacro book_nav_section %}

{% macro get_last_descendent_or_self(section_path) %}
    {% set section = get_section(path=section_path) %}
    {% set last_subsection = section.subsections | last %}
    {% set last_descendent_or_self = section_path %}
    {% if last_subsection %}
        {% set last_descendent_or_self = book_macros::get_last_descendent_or_self(section_path=last_subsection) %}
    {% endif %}
    {{last_descendent_or_self}}
{% endmacro get_last_descendent %}