{% extends "layouts/base.html" %}

{% block content %}
<div class="card-list padded-content">
    <a class="card" href="https://github.com/bevyengine/bevy">
        <div class="card-image">
            <img src="/assets/github.svg" class="centered-card-image community-icon" alt="Github logo" />
        </div>
        <div class="card-text">
            <div class="card-title">
                Github
            </div>
            <div class="card-subtitle">
                github.com/bevyengine
            </div>
            <div class="card-description">
                Interact with Bevy's source code, report issues, and suggest changes.
            </div>
        </div>
    </a>
    <a class="card" href="https://github.com/bevyengine/bevy/discussions/categories/q-a">
        <div class="card-image">
            <img src="/assets/q_and_a.svg" class="centered-card-image community-icon" alt="Q and A logo" />
        </div>
        <div class="card-text">
            <div class="card-title">
                Bevy Q&A
            </div>
            <div class="card-subtitle">
                github.com/bevyengine
            </div>
            <div class="card-description">
                The go-to place to ask Bevy questions and get Bevy answers
            </div>
        </div>
    </a>
    <a class="card" href="https://discord.gg/bevy">
        <div class="card-image">
            <img src="/assets/discord.svg" class="centered-card-image community-icon" alt="Discord logo" />
        </div>
        <div class="card-text">
            <div class="card-title">
                Discord
            </div>
            <div class="card-subtitle">
                Bevy Engine
            </div>
            <div class="card-description">
                A community to discuss Bevy, Rust, and game development
            </div>
        </div>
    </a>
    <a class="card" href="https://twitter.com/BevyEngine">
        <div class="card-image">
            <img src="/assets/twitter.svg" class="centered-card-image community-icon" alt="Twitter logo" />
        </div>
        <div class="card-text">
            <div class="card-title">
                Twitter
            </div>
            <div class="card-subtitle">
                twitter.com/bevyengine
            </div>
            <div class="card-description">
                Quick updates and shared Bevy content from the community
            </div>
        </div>
    </a>
    <a class="card" href="https://www.reddit.com/r/bevy/">
        <div class="card-image">
            <img src="/assets/reddit.svg" class="centered-card-image community-icon" alt="Reddit logo" />
        </div>
        <div class="card-text">
            <div class="card-title">
                Reddit
            </div>
            <div class="card-subtitle">
                reddit.com/r/bevy/
            </div>
            <div class="card-description">
                A place to stay up to date on Bevy news, share your Bevy games or plugins, and discuss Bevy topics.
            </div>
        </div>
    </a>
    <a class="card" href="https://bevyengine.org/assets/">
        <div class="card-image">
            <img src="/assets/bevy_icon_dark.svg" class="centered-card-image community-icon" alt="Bevy logo" />
        </div>
        <div class="card-text">
            <div class="card-title">
                Bevy Assets
            </div>
            <div class="card-subtitle">
                bevyengine.org/assets/
            </div>
            <div class="card-description">
                List of community projects in Bevy, including plugins, games, books, and tutorials.
            </div>
        </div>
    </a>
    <a class="card" href="https://itch.io/games/tag-bevy">
        <div class="card-image">
            <img src="/assets/itchio-textless.svg" class="centered-card-image community-icon" alt="itch.io logo" />
        </div>
        <div class="card-text">
            <div class="card-title">
                itch.io
            </div>
            <div class="card-subtitle">
                itch.io/games/tag-bevy
            </div>
            <div class="card-description">
                Games tagged with "bevy" on itch.io.
            </div>
        </div>
    </a>
</div>
{% endblock content %}
