{% extends "layouts/base.html" %}

{% block content %}
{% set community_links = load_data(path="content/community/links.toml") %}
<div class="padded-content item-grid item-grid--two-cols">
    {% for link in community_links.links %}
        <a class="card-nu" href="{{ link.url }}">
            <div class="card-nu__img-wrapper">
                <img class="card-nu__img card-nu__img--small" src="{{ link.image }}" alt="{{ link.image_alt }}" />
            </div>
            <div class="card-nu__content">
                <h2 class="card-nu__title">{{ link.title }}</h2>
                {% if link.subtitle %}
                    <div class="card-nu__subtitle">{{ link.subtitle }}</div>
                {% endif %}
                <p class="card-nu__description">{{ link.description }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}
