{% extends "docs-base.html" %}
{% block page_name %}
  {% if page and page.path is starting_with("/learn/book/") %}
    The Book
  {% else %}
    Migration Guides
  {% endif %}
{% endblock page_name %}
{% block docs_page_title %}
  {% if page.extra.long_title %}
    {{ page.extra.long_title }}
  {% else %}
    {{ page.title }}
  {% endif %}
  {% if page.extra.subtitle %}<span class="docs-page-subtitle">{{ page.extra.subtitle }}</span>{% endif %}
{% endblock page_title %}
{% block docs_page_content %}{{ page.content | safe }}{% endblock docs_page_content %}
{% block docs_page_relative_path %}{{ page.relative_path }}{% endblock docs_page_relative_path %}
