{% extends "layouts/base.html" %}

{% block content %}
    <div class="book-content">
        <div class="media-content">
            <p>This page documents Bevy's error codes for the current release. In case you are looking for the latest error
            codes from Bevy's main branch, you can find them in the
            <a href="https://github.com/bevyengine/bevy/tree/main/errors">repository</a>.</p>
        </div>
        {% for page in section.pages %}
            <h1 id="{{ page.title | slugify }}" class="asset-section">
                {{ page.title }}<a class="anchor-link" href="#{{ page.title | slugify }}">#</a>
            </h1>
            <div class="media-content">{{ page.content | safe }}</div>
        {% endfor %}
    </div>
{% endblock content %}
