{% extends "layouts/examples.html" %}

{% block intro %}
These examples demonstrate how to use Bevy's features in a minimal, easy to understand way.
Click an example below to run it in your browser (using WASM + WebGL) and view the source code.
You can also view these examples (and others) in the <a href="https://github.com/bevyengine/bevy/tree/latest/examples#examples">Bevy repo</a>.
<p>If you would like to try WASM + WebGPU, you can explore our <a href="/examples-webgpu">live WebGPU examples</a> page.</p>
{% endblock intro %}
