{% extends "layouts/example.html" %}

{% block examples_url %}/examples-webgpu{% endblock examples_url %}
{% block wasm_base_url %}https://bevy-webgpu-examples.pages.dev{% endblock wasm_base_url %}
{% block callout_modifier %}warning{% endblock callout_modifier %}
{% block callout %}
<strong>Support Warning.</strong>
WebGPU is currently available in Chrome (v113+ on desktop, v141+ on Android), Safari 26, and Firefox 141+ (enabled by default on Windows, behind a flag elsewhere).
If the example doesn't work on your configuration, you can check the WebGL2 example <a href="{{ page.path | replace(from="/examples-webgpu/", to="/examples/") }}">here</a>.
{% endblock intro %}
