{% extends "layouts/examples.html" %}

{% block intro %}
These examples demonstrate how to use Bevy's features in a minimal, easy to understand way.
Click an example below to run it in your browser (using WASM + WebGPU) and view the source code.
You can also view these examples (and others) in the <a href="https://github.com/bevyengine/bevy/tree/main/examples#examples">Bevy repo</a>.
<aside class="callout callout--warning">
<h3 class="warning">Support Warning</h3>
<p>WebGPU is currently only supported on Chrome starting with version 113, and only on desktop.
If they don't work on your configuration, you can check the WebGL2 examples <a href="/examples">here</a>.</p>
</aside>
{% endblock intro %}
