{% extends "layouts/example.html" %}

{% block examples_url %}/examples-webgpu{% endblock examples_url %}
{% block wasm_base_url %}https://bevy-webgpu-examples.pages.dev{% endblock wasm_base_url %}
{% block callout_modifier %}warning{% endblock callout_modifier %}
{% block callout %}
<strong>Support Warning.</strong>
WebGPU is currently only supported on Chrome starting with version 113, and only on desktop.
If the example doesn't work on your configuration, you can check the WebGL2 examples <a href="/examples">here</a>.
{% endblock intro %}
