{% extends "layouts/base.html" %}
{% import "macros/assets.html" as assets_macros %}

{% block content %}
<div class="assets">
    <input type="checkbox" style="display: none" id="show-book-nav" />
    <nav class="book-nav" role="navigation">
        {{assets_macros::assets_menu(prefix="page-menu", root=section)}}
    </nav>
    <div class="book-content">
        {% for subsection in section.subsections %}
        {% set section = get_section(path=subsection) %}

        <h1 id="{{ section.title | slugify }}" class="asset-section">
            {{ section.title }}<a class="anchor-link" href="#{{ section.title | slugify }}">#</a>
        </h1>

        {% if section.pages %}
        <div class="item-grid">
            {% set pages = section.pages %}
            {% if section.extra.sort_order_reversed %}
            {% set pages = section.pages | reverse %}
            {% endif %}
            {% for post in pages %}

            <a class="card" href="/examples/{{ section.title | slugify }}/{{ post.title | slugify }}/"
                id="{{ post.title | slugify }}">
                {% if post.extra.image %}
                <div class="card-image card-image-default">
                    <img src="{{ get_url(path=post.extra.image) }}" />
                </div>
                {% endif %}
                <div class="card-text">
                    <div class="card-title">{{ post.title }}</div>
                </div>
            </a>

            {% endfor %}
        </div>
        {% endif %}

        {% endfor %}
    </div>
</div>
{% endblock content %}
