{% extends "base.html" %}
{% block head_extensions %}
<meta name="description" content="A refreshingly simple data-driven game engine built in Rust. Free and Open Source Forever!" />
{% endblock head_extensions %}

{% block content %}
<div class="padded-content container">
    <img src="/assets/bevy_logo_dark.svg" class="bevy-logo-header" alt="Bevy logo"/>
    <div class="bevy-description">
        A refreshingly simple data-driven game engine built in Rust
        <br />
        Free and Open Source Forever!
    </div>
    <div class="feature-list">
        <div class="feature-container">
            <div class="feature-text">
                <h2 class="feature-title">Data Driven</h2>
                <div class="feature-description">
                    All engine and game logic uses Bevy ECS, a custom Entity Component System
                    <ul class="feature-sublist">
                        <li><b>Fast:</b> Massively Parallel and Cache-Friendly. The fastest ECS according to some
                            benchmarks</li>
                        <li><b>Simple:</b> Components are Rust structs, Systems are Rust functions</li>
                        <li><b>Capable:</b> Queries, Global Resources, Local Resources, Change Detection, Lock-Free
                            Parallel Scheduler</li>
                    </ul>
                </div>
            </div>
            <div class="feature-image">
                <img src="assets/ecs.svg" class="feature-img" style="width: 100%; max-width: 90%; max-height: 90%;"
                    alt="ECS code" />
            </div>

        </div>
        <div class="feature-container feature-container-reverse">
            <div class="feature-image">
                <img src="assets/sprite.png" class="feature-img" alt="Pixel art sprite of a person" />
            </div>
            <div class="feature-text">
                <h2 class="feature-title">2D Renderer</h2>
                <div class="feature-description">
                    Render real-time 2D graphics for games and apps
                    <ul class="feature-sublist">
                        <li><b>Features: </b>sprite sheets, dynamic texture atlases, cameras, textures, and materials
                        </li>
                        <li><b>Extensible: </b>custom shaders, materials, and render pipelines</li>
                        <li><b>Common Core: </b>builds on top of Bevy's Render Graph</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature-container">
            <div class="feature-text">
                <h2 class="feature-title">3D Renderer</h2>
                A modern and flexible 3D renderer
                <ul class="feature-sublist">
                    <li><b>Features: </b>lights, cameras, meshes, textures, materials, gltf loading</li>
                    <li><b>Extensible: </b>custom shaders, materials, and render pipelines</li>
                    <li><b>Common Core: </b>built on top of Bevy's Render Graph</li>
                </ul>
            </div>
            <div class="feature-image">
                <img src="assets/boat.png" class="feature-img" style="max-height: 95%; max-width: 95%;"
                    alt="3D boat model" />
            </div>
        </div>
        <div class="feature-container feature-container-reverse">
            <div class="feature-image">
                <img src="assets/render_graph.svg" class="feature-img" alt="Render graph" />
            </div>
            <div class="feature-text">
                <h2 class="feature-title">Render Graph</h2>
                Compose custom render pipelines using a graph structure
                <ul class="feature-sublist">
                    <li><b>Parallel: </b> Render Graphs are automatically rendered in parallel</li>
                    <li><b>Modular: </b> Build composable and reusable render logic using Render Graph nodes </li>
                    <li><b>Backend Agnostic: </b> Not tied to a specific graphics api</li>
                </ul>
            </div>
        </div>
        <div class="feature-container">
            <div class="feature-text">
                <h2 class="feature-title">Cross Platform</h2>
                <div class="feature-description">
                    Support for all major desktop platforms:
                    <ul class="feature-sublist">
                        <li>Windows, MacOS, Linux</li>
                    </ul>
                    With more on the way:
                    <ul class="feature-sublist">
                        <li>Android, iOS, Web</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature-image">
            <img src="assets/platform-icons.svg" class="feature-img" alt="Microsoft, Apple, and Linux logos" />
        </div>
        <div class="feature-container feature-container-reverse">
            <div class="feature-image">
                <img src="assets/bevy_ui.svg" class="feature-img" alt="UI dialog window diagram" />
            </div>
            <div class="feature-text">
                <h2 class="feature-title">Bevy UI</h2>
                A custom ECS-driven UI framework built specifically for Bevy
                <ul class="feature-sublist">
                    <li>Built directly on top of Bevy's ECS, Renderer, and Scene plugins</li>
                    <li>Compose UIs dynamically in code or declaratively using the Bevy Scene format</li>
                    <li>Use a familiar "flex box" model to layout your UIs</li>
                </ul>
            </div>
        </div>
        <div class="feature-container">
            <div class="feature-text">
                <h2 class="feature-title">Scenes</h2>
                Create, save, and load ECS worlds using Bevy's Scene system
                <ul class="feature-sublist">
                    <li><b>Loading</b>: Loading scenes preserves entity IDs (useful for save games)</li>
                    <li><b>Instancing</b>: Instancing creates linked duplicates of scenes with new entity IDs</li>
                    <li><b>Hot Reloading</b>: Changes to scene files are automatically applied to running apps</li>
                </ul>
            </div>
            <div class="feature-image">
                <img src="assets/scene.svg" class="feature-img" alt="2D scene of a square upon grass under the sun" />
            </div>
        </div>
        <div class="feature-container feature-container-reverse">
            <div class="feature-image">
                <img src="assets/sound.svg" class="feature-img" alt="Music notes" />
            </div>
            <div class="feature-text">
                <h2 class="feature-title">Sound</h2>
                Load audio files and play them on demand
                <ul class="feature-sublist">
                    <li>Load mp3 audio files as Assets</li>
                    <li>Play audio files using the AudioOutput resource</li>
                </ul>
            </div>
        </div>
        <div class="feature-container">
            <div class="feature-text">
                <h2 class="feature-title">Hot Reloading</h2>
                Get instant feedback on your changes without app restarts or recompiles
                <ul class="feature-sublist">
                    <li>Asset changes are immediately reflected in running Bevy apps</li>
                    <li>You can currently hot-reload scenes, textures, and meshes</li>
                    <li>Any asset type can be integrated</li>
                </ul>
            </div>
            <div class="feature-image">
                <img src="assets/hot_reloading.svg" class="feature-img" alt="Hot reloading diagram" />
            </div>
        </div>
        <div class="feature-container feature-container-reverse">
            <div class="feature-image">
                <img src="assets/progressbar.svg" class="feature-img" alt="Compile time progress bar" />
            </div>
            <div class="feature-text">
                <h2 class="feature-title">Productive Compile Times</h2>
                Game development is an iterative process. You can't afford to wait for compiles
                <ul class="feature-sublist">
                    <li>With Bevy you can expect 0.8-3.0 seconds with the "fast compiles" configuration</li>
                    <li>Compare that to other popular Rust game engines, which can take over 30 seconds to compile a
                        single
                        newline insertion!</li>
                </ul>
            </div>
        </div>
        <div class="feature-container">
            <div class="feature-text">
                <h2 class="feature-title">Free and Open Source</h2>
                An engine made by and for the developer community
                <ul class="feature-sublist">
                    <li>100% free. Forever and always</li>
                    <li>Open Source under the permissive MIT license</li>
                    <li>No contracts</li>
                    <li>No license fees</li>
                    <li>No sales cuts</li>
                </ul>
            </div>
            <div class="feature-image">
                <img src="assets/opensource.svg" class="feature-img" alt="The open source icon" />
            </div>
        </div>
    </div>
    <div class="media-content features-whats-next">
        Ready to start building Bevy apps? Get started fast with <a href="learn/book/welcome/">The Bevy Book!</a>
    </div>
    <img src="/assets/bevy_logo_dark.svg" class="bevy-logo-header" alt="Bevy logo" />
    <div class="media-content features-sponsors">
        <h3>A big thanks to Bevy's generous <a href="https://github.com/sponsors/cart/">Sponsors</a> for making our work
            sustainable:</h3>
        <h2>Platinum Sponsors</h2>
        <a href="https://www.embark-studios.com/"><img src="assets/embark.png" style="height: 6rem"
                alt="Embark Studios logo" /></a>
        <h2>Bronze Sponsors</h2>
        <div class="bronze-sponsors">
            <a href="https://vertexstudio.co/"><img src="assets/vertex_studio.png" class="bronze-sponsor-image" alt="Vertex Studio logo"/></a>
            <a href="https://www.metabuild.io/"><img src="assets/metabuild.png" class="bronze-sponsor-image" alt="Metabuild Logo"/></a>
        </div>
    </div>
</div>
{% endblock content %}