{% extends "base.html" %}

{% block content %}
<div class="padded-content container">
    <img src="assets/cube.png" class="the-cube" alt="glowing blue cube sitting on a plane" />
    <div class="bevy-description">
        Bevy is an open-source modular game engine built in Rust, with a focus on developer productivity and
        performance.
    </div>
    <div class="features">
        <div class="feature feature-right">
            <img src="/assets/mountains.png" class="feature-image feature-image-right" />
            <div class="feature-text feature-text-right">
                <div class="feature-title">Data Driven and Massively Parallel</div>
                <div class="feature-description">
                    All engine and app logic builds on top of Bevy's blisteringly fast Entity Component System.

                </div>
            </div>
        </div>
        <div class="feature feature-left">
            <img src="/assets/mountains.png" class="feature-image feature-image-left" />
            <div class="feature-text feature-text-left">
                <div class="feature-title">Modern Renderer</div>
                <div class="feature-description">
                    <ul class="">
                        <li><b>Multiple Backends</b>: Vulkan, DirectX 11/12, Metal</li>
                        <li><b>Render Graph</b>: Define your render logic in an intuitive, hyper-parallel, graph system
                        </li>
                        <li><b>Data Driven Shaders</b>: Powerful data driven shader system that integrates directly with
                            Bevy's Entity Component
                            System</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature feature-right">
            <img src="/assets/mountains.png" class="feature-image feature-image-right" />
            <div class="feature-text feature-text-right">
                <div class="feature-title">Expressive UI</div>
                <div class="feature-description">
                    Easily compose UIs using a familiar "box model". Bevy's UI system is custom-built to integrate
                    directly into Bevy's ECS and event systems.
                </div>
            </div>
        </div>
        <div class="feature feature-left">
            <img src="/assets/mountains.png" class="feature-image feature-image-left" />
            <div class="feature-text feature-text-left">
                <div class="feature-title">Cross Platform</div>
                <div class="feature-description">
                    Write once, run anywhere!
                    <ul>
                        <li><b>Supported Platforms</b>: Windows, MacOS, Linux</li>
                        <li><b>Upcoming Platforms</b>: Android, Web</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature feature-right">
            <img src="/assets/mountains.png" class="feature-image feature-image-right" />
            <div class="feature-text feature-text-right">
                <div class="feature-title">Fast Iterative Compile Times</div>
                <div class="feature-description">Bevy has fast iterative compiles: projects can often be compiled in 1-2
                    seconds. You don't need to choose between slow but productive scripting languages
                    or fast but unproductive compiled languages. Write fast, native code productively directly in Rust!
                </div>
            </div>
        </div>
        <div class="feature feature-left">
            <img src="/assets/mountains.png" class="feature-image feature-image-left" />
            <div class="feature-text feature-text-right">
                <div class="feature-title">Free and Open Source</div>
                <div class="feature-description">
                    Bevy is developed in the open by a community of volunteers. You own the code. You don't <i>ever</i>
                    need to pay us anything. But feel free to contribute code if you built something cool!
                </div>
            </div>
        </div>
    </div>
    <div class="media-content features-get-started">Like what you see? <a href="/learn/book/introduction">Click here to
            make your first Bevy app!</a></div>
</div>
{% endblock content %}