{% extends "base.html" %}

{% block content %}
<div class="padded-content container">
    <img src="/assets/bevy_logo_dark.svg" class="bevy-logo-header" />
    <div class="bevy-description">
        A refreshingly simple data-driven game engine built in Rust
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-text">
                <h2 class="feature-title">Data Driven</h2>
                <div class="feature-description">
                    All engine and game logic uses Bevy ECS, a custom Entity Component System
                    <ul class="feature-sublist">
                        <li>Fast: Massively Parallel and Cache-Friendly</li>
                        <li>Simple: </li>
                    </ul>
                </div>
            </div>
            <div class="feature-image">
                <img src="assets/ecs.svg" class="feature-svg" style="margin-left: 10%; margin-right: auto;"/>
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-image">
                <img src="assets/platform-icons.svg" class="feature-svg"/>
            </div>
            <div class="feature-text">
                <h2 class="feature-title">Cross Platform</h2>
                <div class="feature-description">
                    Support for all major desktop platforms with more platforms:
                    <ul class="feature-sublist">
                        <li>Windows, MacOS, Linux</li>
                    </ul>
                    With more on the way:
                    <ul class="feature-sublist">
                        <li>Android, iOS, Web</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-text">
                <h2 class="feature-title">2D Renderer</h2>
            </div>
            <div class="feature-image">
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-image">
            </div>
            <div class="feature-text">
                <h2 class="feature-title">3D Renderer</h2>
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-text">
                <h2 class="feature-title">Render Graph</h2>
            </div>
            <div class="feature-image">
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-image">
            </div>
            <div class="feature-text">
                <h2 class="feature-title">Bevy UI</h2>
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-text">
                <h2 class="feature-title">Scenes</h2>
            </div>
            <div class="feature-image">
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-image">
            </div>
            <div class="feature-text">
                <h2 class="feature-title">Sound</h2>
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-text">
                <h2 class="feature-title">Hot Reloading</h2>
            </div>
            <div class="feature-image">
            </div>
        </div>
    </div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-image">
            </div>
            <div class="feature-text">
                <h2 class="feature-title">Productive Compiles</h2>
            </div>
        </div>
    </div>
    <div class="media-content features-whats-next">
        Ready to start building Bevy apps? Get started fast with <a href="learn/book/introduction/">The Bevy Book!</a>
    </div>
    <img src="/assets/bevy_logo_dark.svg" class="bevy-logo-header" />
</div>
{% endblock content %}