{% extends "base.html" %}

{% block content %}
<div class="card-list padded-content">
  <a class="card" href="/learn/book/welcome">
    <div class="card-image">
      <img src="/assets/book.svg" class="centered-card-image" alt="Bevy book" />
    </div>
    <div class="card-text">
      <div class="card-title">
        The Bevy Book
      </div>
      <div class="card-description">
        Learn how to use Bevy using this step-by-step guide. If you are new to Bevy, you should probably start here.
      </div>
    </div>
  </a>
  <a class="card" href="https://docs.rs/bevy">
    <div class="card-image">
      <img src="/assets/rust-logo-light.svg" class="centered-card-image" alt="Rust logo" />
    </div>
    <div class="card-text">
      <div class="card-title">
        Bevy Rust API Docs
      </div>
      <div class="card-description">
        Learn about Bevy's Rust API using the generated Rust documentation.
      </div>
    </div>
  </a>
  <a class="card" href="https://github.com/bevyengine/bevy/tree/latest/examples#examples">
    <div class="card-image">
      <img src="/assets/github.svg" class="centered-card-image" alt="Github logo" />
    </div>
    <div class="card-text">
      <div class="card-title">
        Official Examples
      </div>
      <div class="card-description">
        Examples that show how to use the various features of Bevy.
      </div>
    </div>
  </a>
  <a class="card" href="/assets">
    <div class="card-image">
      <img src="/assets/bevy_icon_dark.svg" class="centered-card-image" alt="Bevy logo" />
    </div>
    <div class="card-text">
      <div class="card-title">
        Bevy Assets
      </div>
      <div class="card-description">
        Find Assets to use in your games. Learn by example with a list of cool Bevy projects. Read community-made
        tutorials and documentation.
      </div>
    </div>
  </a>
</div>
{% endblock content %}