name: CI

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: "Build Bevy Assets"
        run: cd generate-assets && ./generate_assets.sh

      - name: "Build Bevy Error Codes"
        run: cd generate-errors && ./generate_errors.sh

      - name: "Build Bevy Examples"
        run: cd generate-wasm-examples && ./generate_wasm_examples.sh

      - name: "Build website"
        uses: shalzz/zola-deploy-action@master
        env:
          PAGES_BRANCH: gh-pages
          BUILD_DIR: .
          BUILD_ONLY: true
          TOKEN: fake-secret
