name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
      - 'staging'
      - 'trying'

jobs:
  super-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Run Super Linter
        uses: docker://ghcr.io/github/super-linter:slim-v4
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_MARKDOWN: true
          VALIDATE_EDITORCONFIG: true
          DEFAULT_BRANCH: main

  test-code-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev

      - name: Build & run doc tests
        run: cd code-validation && cargo test

  check-hide-lines:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      
      - name: Check hide-lines
        run: cd write-rustdoc-hide-lines && cargo run --release -- check ../content

  lint-tools:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev

      - name: Check formatting
        run: cargo fmt --check --all

      - name: Check clippy
        run: cargo clippy --workspace -- -Dwarnings

  generate-assets:
    needs: [super-linter, test-code-examples, lint-tools, check-hide-lines]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            generate-assets/target/
          key: ${{ runner.os }}-generate-assets-${{ hashFiles('generate-assets/Cargo.toml') }}

      - name: Get cache key
        id: cache-key
        run: echo "key=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Get crates.io datadump from cache
        uses: actions/cache@v4
        with:
          path: generate-assets/data
          key: ${{ runner.os }}-${{ steps.cache-key.outputs.key }}

      - name: "Build Bevy Assets"
        run: >
          cd generate-assets &&
          export GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} &&
          ./generate_assets.sh

      - uses: actions/upload-artifact@v4
        with:
          name: generated-assets
          path: content/assets
          retention-days: 1

  generate-errors:
    needs: [super-linter, test-code-examples, lint-tools, check-hide-lines]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            generate-errors/target/
          key: ${{ runner.os }}-generate-errors-${{ hashFiles('generate-errors/Cargo.toml') }}

      - name: "Build Bevy Error Codes"
        run: >
          cd generate-errors &&
          ./generate_errors.sh

      - uses: actions/upload-artifact@v4
        with:
          name: generated-errors
          path: content/learn/errors
          retention-days: 1

  generate-wasm-examples:
    needs: [super-linter, test-code-examples, lint-tools, check-hide-lines]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Clone Bevy"
        run: >
          cd generate-wasm-examples &&
          ./clone_bevy.sh

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            generate-wasm-examples/bevy/target/
            content/examples/**/*.wasm
          key: ${{ runner.os }}-generate-wasm-examples-${{ hashFiles('generate-wasm-examples/bevy/Cargo.toml') }}

      - uses: dtolnay/rust-toolchain@stable
        with:
          target: wasm32-unknown-unknown

      - name: "Build Bevy Examples"
        run: |
          cd generate-wasm-examples &&
          ./generate_wasm_examples.sh

      - uses: actions/upload-artifact@v4
        with:
          name: generated-wasm-examples
          path: content/examples
          retention-days: 1

      - uses: actions/upload-artifact@v4
        with:
          name: generated-wasm-examples-webgpu
          path: content/examples-webgpu
          retention-days: 1

  generate-community:
    needs: [super-linter, test-code-examples, lint-tools, check-hide-lines]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            generate-community/target/
          key: ${{ runner.os }}-generate-community-${{ hashFiles('generate-community/Cargo.toml') }}

      - name: "Build Bevy Community"
        run: >
          cd generate-community &&
          ./generate_community.sh

      - uses: actions/upload-artifact@v4
        with:
          name: generated-community
          path: content/community/people
          retention-days: 1

  build-website:
    runs-on: ubuntu-latest
    needs: [super-linter, test-code-examples, lint-tools, check-hide-lines, generate-assets, generate-errors, generate-wasm-examples, generate-community]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: generated-assets
          path: content/assets

      - uses: actions/download-artifact@v4
        with:
          name: generated-errors
          path: content/learn/errors

      - uses: actions/download-artifact@v4
        with:
          name: generated-wasm-examples
          path: content/examples

      - uses: actions/download-artifact@v4
        with:
          name: generated-wasm-examples-webgpu
          path: content/examples-webgpu

      - uses: actions/download-artifact@v4
        with:
          name: generated-community
          path: content/community/people

      - name: "Build website"
        uses: shalzz/zola-deploy-action@v0.18.0
        env:
          PAGES_BRANCH: gh-pages
          BUILD_DIR: .
          BUILD_ONLY: true
          TOKEN: fake-secret

  pa11y:
    runs-on: ubuntu-latest
    needs: [super-linter, test-code-examples, lint-tools, check-hide-lines, generate-assets, generate-errors, generate-wasm-examples, generate-community]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: generated-assets
          path: content/assets

      - uses: actions/download-artifact@v4
        with:
          name: generated-errors
          path: content/learn/errors

      - uses: actions/download-artifact@v4
        with:
          name: generated-wasm-examples
          path: content/examples

      - uses: actions/download-artifact@v4
        with:
          name: generated-wasm-examples-webgpu
          path: content/examples-webgpu

      - uses: actions/download-artifact@v4
        with:
          name: generated-community
          path: content/community/people

      - name: Install NPM
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Google Chrome
        id: setup-chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Install Zola
        uses: taiki-e/install-action@v2
        with:
          tool: zola@0.18.0

      - name: Install Pa11y-CI and Wait-on
        run: |
          npm install pa11y-ci wait-on
          node node_modules/puppeteer/install.js

      - name: Create Pa11y-CI Config
        uses: finnp/create-file-action@master
        env:
          FILE_NAME: ".pa11yci"
          FILE_DATA: "{\n  \"defaults\": {\n    \"chromeLaunchConfig\": {\n      \"executablePath\": \"${{ steps.setup-chrome.outputs.chrome-path }} \"\n    }\n  }\n}"

      - name: Run Pa11y-CI
        run: zola serve & npx wait-on http://127.0.0.1:1111 && npx pa11y-ci --sitemap http://127.0.0.1:1111/sitemap.xml

